<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddmc.kanban.dao.kanban.CarAvgTemperatureDao">
  <resultMap id="BaseResultMap" type="com.ddmc.kanban.model.CarAvgTemperature">
    <!--@mbg.generated 2019-04-03 16:35:56-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="car_brand" jdbcType="VARCHAR" property="carBrand" />
    <result column="so_id" jdbcType="INTEGER" property="soId" />
    <result column="car_type" jdbcType="TINYINT" property="carType" />
    <result column="mean_temperature" jdbcType="TINYINT" property="meanTemperature" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="below_standard_number" jdbcType="TINYINT" property="belowStandardNumber" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated 2019-04-03 16:35:56-->
    id, car_brand, so_id, car_type, mean_temperature, create_time, update_time, below_standard_number
  </sql>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ddmc.kanban.model.CarAvgTemperature" useGeneratedKeys="true">
    <!--@mbg.generated 2019-04-03 16:35:56-->
    INSERT INTO car_avg_temperature (
      car_brand, so_id, car_type, mean_temperature, create_time, update_time, below_standard_number
      
    ) VALUES (  
      #{carBrand,jdbcType=VARCHAR}, #{soId,jdbcType=INTEGER}, #{carType,jdbcType=TINYINT}, 
      #{meanTemperature,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{belowStandardNumber,jdbcType=TINYINT}
    )
  </insert>
  <insert id="insertList" parameterType="java.util.List">
    <!--@mbg.generated 2019-04-03 16:35:56-->
    INSERT INTO car_avg_temperature (
      car_brand, so_id, car_type, mean_temperature, create_time, update_time, below_standard_number
    ) VALUES 
    <foreach collection="list" index="index" item="item" separator=",">
      (
        #{item.carBrand,jdbcType=VARCHAR}, #{item.soId,jdbcType=INTEGER}, #{item.carType,jdbcType=TINYINT}, 
        #{item.meanTemperature,jdbcType=TINYINT}, #{item.createTime,jdbcType=TIMESTAMP}, 
        #{item.updateTime,jdbcType=TIMESTAMP}, #{item.belowStandardNumber,jdbcType=TINYINT}
      )
    </foreach>
  </insert>
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-03 16:35:56-->
    SELECT <include refid="Base_Column_List"/> FROM car_avg_temperature WHERE id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectOne" parameterType="com.ddmc.kanban.model.CarAvgTemperature" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-03 16:35:56-->
    SELECT <include refid="Base_Column_List"/> FROM car_avg_temperature
    <where>
      <if test="carBrand != null">
        AND car_brand = #{carBrand,jdbcType=VARCHAR}
      </if>
      <if test="soId != null">
        AND so_id = #{soId,jdbcType=INTEGER}
      </if>
      <if test="carType != null">
        AND car_type = #{carType,jdbcType=TINYINT}
      </if>
      <if test="meanTemperature != null">
        AND mean_temperature = #{meanTemperature,jdbcType=TINYINT}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="belowStandardNumber != null">
        AND below_standard_number = #{belowStandardNumber,jdbcType=TINYINT}
      </if>
      LIMIT 1
    </where>
  </select>
  <select id="selectList" parameterType="com.ddmc.kanban.model.CarAvgTemperature" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-03 16:35:56-->
    SELECT <include refid="Base_Column_List"/> FROM car_avg_temperature
    <where>
      <if test="carBrand != null">
        AND car_brand = #{carBrand,jdbcType=VARCHAR}
      </if>
      <if test="soId != null">
        AND so_id = #{soId,jdbcType=INTEGER}
      </if>
      <if test="carType != null">
        AND car_type = #{carType,jdbcType=TINYINT}
      </if>
      <if test="meanTemperature != null">
        AND mean_temperature = #{meanTemperature,jdbcType=TINYINT}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="belowStandardNumber != null">
        AND below_standard_number = #{belowStandardNumber,jdbcType=TINYINT}
      </if>
    </where>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-03 16:35:56-->
    SELECT <include refid="Base_Column_List"/> FROM car_avg_temperature
  </select>
  <select id="count" parameterType="com.ddmc.kanban.model.CarAvgTemperature" resultType="java.lang.Long">
    <!--@mbg.generated 2019-04-03 16:35:56-->
    SELECT count(1) FROM car_avg_temperature
    <where>
      <if test="id != null">
        AND id=#{id,jdbcType=BIGINT}
      </if>
      <if test="carBrand != null">
        AND car_brand=#{carBrand,jdbcType=VARCHAR}
      </if>
      <if test="soId != null">
        AND so_id=#{soId,jdbcType=INTEGER}
      </if>
      <if test="carType != null">
        AND car_type=#{carType,jdbcType=TINYINT}
      </if>
      <if test="meanTemperature != null">
        AND mean_temperature=#{meanTemperature,jdbcType=TINYINT}
      </if>
      <if test="createTime != null">
        AND create_time=#{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time=#{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="belowStandardNumber != null">
        AND below_standard_number=#{belowStandardNumber,jdbcType=TINYINT}
      </if>
    </where>
  </select>
  <delete id="deleteById" parameterType="java.lang.Long">
    <!--@mbg.generated 2019-04-03 16:35:56-->
    DELETE FROM car_avg_temperature WHERE id = #{id,jdbcType=BIGINT}
  </delete>
  <update id="update" parameterType="com.ddmc.kanban.model.CarAvgTemperature">
    <!--@mbg.generated 2019-04-03 16:35:56-->
    UPDATE car_avg_temperature
    <set>
      <if test="carBrand != null">
        car_brand = #{carBrand,jdbcType=VARCHAR},
      </if>
      <if test="soId != null">
        so_id = #{soId,jdbcType=INTEGER},
      </if>
      <if test="carType != null">
        car_type = #{carType,jdbcType=TINYINT},
      </if>
      <if test="meanTemperature != null">
        mean_temperature = #{meanTemperature,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="belowStandardNumber != null">
        below_standard_number = #{belowStandardNumber,jdbcType=TINYINT},
      </if>
    </set>
    WHERE id = #{id,jdbcType=BIGINT}
  </update>
</mapper>