<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddmc.kanban.dao.kanban.CarHistoryDataDao">
  <resultMap id="BaseResultMap" type="com.ddmc.kanban.model.CarHistoryData">
    <!--@mbg.generated 2019-04-04 10:52:01-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="car_brand" jdbcType="VARCHAR" property="carBrand" />
    <result column="so_id" jdbcType="INTEGER" property="soId" />
    <result column="car_type" jdbcType="TINYINT" property="carType" />
    <result column="temperature" jdbcType="DECIMAL" property="temperature" />
    <result column="gpstime" jdbcType="TIMESTAMP" property="gpstime" />
    <result column="station" jdbcType="VARCHAR" property="station" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated 2019-04-04 10:52:01-->
    id, car_brand, so_id, car_type, temperature, gpstime, station, create_time, update_time
  </sql>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ddmc.kanban.model.CarHistoryData" useGeneratedKeys="true">
    <!--@mbg.generated 2019-04-04 10:52:01-->
    INSERT INTO car_history_data (
      car_brand, so_id, car_type, temperature, gpstime, station, create_time, update_time
      
    ) VALUES (  
      #{carBrand,jdbcType=VARCHAR}, #{soId,jdbcType=INTEGER}, #{carType,jdbcType=TINYINT}, 
      #{temperature,jdbcType=DECIMAL}, #{gpstime,jdbcType=TIMESTAMP}, #{station,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
    )
  </insert>
  <insert id="insertList" parameterType="java.util.List">
    <!--@mbg.generated 2019-04-04 10:52:01-->
    INSERT INTO car_history_data (
      car_brand, so_id, car_type, temperature, gpstime, station, create_time, update_time
    ) VALUES 
    <foreach collection="list" index="index" item="item" separator=",">
      (
        #{item.carBrand,jdbcType=VARCHAR}, #{item.soId,jdbcType=INTEGER}, #{item.carType,jdbcType=TINYINT}, 
        #{item.temperature,jdbcType=DECIMAL}, #{item.gpstime,jdbcType=TIMESTAMP}, #{item.station,jdbcType=VARCHAR}, 
        #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-04 10:52:01-->
    SELECT <include refid="Base_Column_List"/> FROM car_history_data WHERE id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectOne" parameterType="com.ddmc.kanban.model.CarHistoryData" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-04 10:52:01-->
    SELECT <include refid="Base_Column_List"/> FROM car_history_data
    <where>
      <if test="carBrand != null">
        AND car_brand = #{carBrand,jdbcType=VARCHAR}
      </if>
      <if test="soId != null">
        AND so_id = #{soId,jdbcType=INTEGER}
      </if>
      <if test="carType != null">
        AND car_type = #{carType,jdbcType=TINYINT}
      </if>
      <if test="temperature != null">
        AND temperature = #{temperature,jdbcType=DECIMAL}
      </if>
      <if test="gpstime != null">
        AND gpstime = #{gpstime,jdbcType=TIMESTAMP}
      </if>
      <if test="station != null">
        AND station = #{station,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      LIMIT 1
    </where>
  </select>
  <select id="selectList" parameterType="com.ddmc.kanban.model.CarHistoryData" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-04 10:52:01-->
    SELECT <include refid="Base_Column_List"/> FROM car_history_data
    <where>
      <if test="carBrand != null">
        AND car_brand = #{carBrand,jdbcType=VARCHAR}
      </if>
      <if test="soId != null">
        AND so_id = #{soId,jdbcType=INTEGER}
      </if>
      <if test="carType != null">
        AND car_type = #{carType,jdbcType=TINYINT}
      </if>
      <if test="temperature != null">
        AND temperature = #{temperature,jdbcType=DECIMAL}
      </if>
      <if test="gpstime != null">
        AND gpstime = #{gpstime,jdbcType=TIMESTAMP}
      </if>
      <if test="station != null">
        AND station = #{station,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-04 10:52:01-->
    SELECT <include refid="Base_Column_List"/> FROM car_history_data
  </select>
  <select id="count" parameterType="com.ddmc.kanban.model.CarHistoryData" resultType="java.lang.Long">
    <!--@mbg.generated 2019-04-04 10:52:01-->
    SELECT count(1) FROM car_history_data
    <where>
      <if test="id != null">
        AND id=#{id,jdbcType=BIGINT}
      </if>
      <if test="carBrand != null">
        AND car_brand=#{carBrand,jdbcType=VARCHAR}
      </if>
      <if test="soId != null">
        AND so_id=#{soId,jdbcType=INTEGER}
      </if>
      <if test="carType != null">
        AND car_type=#{carType,jdbcType=TINYINT}
      </if>
      <if test="temperature != null">
        AND temperature=#{temperature,jdbcType=DECIMAL}
      </if>
      <if test="gpstime != null">
        AND gpstime=#{gpstime,jdbcType=TIMESTAMP}
      </if>
      <if test="station != null">
        AND station=#{station,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        AND create_time=#{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time=#{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <delete id="deleteById" parameterType="java.lang.Long">
    <!--@mbg.generated 2019-04-04 10:52:01-->
    DELETE FROM car_history_data WHERE id = #{id,jdbcType=BIGINT}
  </delete>
  <update id="update" parameterType="com.ddmc.kanban.model.CarHistoryData">
    <!--@mbg.generated 2019-04-04 10:52:01-->
    UPDATE car_history_data
    <set>
      <if test="carBrand != null">
        car_brand = #{carBrand,jdbcType=VARCHAR},
      </if>
      <if test="soId != null">
        so_id = #{soId,jdbcType=INTEGER},
      </if>
      <if test="carType != null">
        car_type = #{carType,jdbcType=TINYINT},
      </if>
      <if test="temperature != null">
        temperature = #{temperature,jdbcType=DECIMAL},
      </if>
      <if test="gpstime != null">
        gpstime = #{gpstime,jdbcType=TIMESTAMP},
      </if>
      <if test="station != null">
        station = #{station,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE id = #{id,jdbcType=BIGINT}
  </update>
</mapper>