<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddmc.kanban.dao.CarDao">
  <resultMap id="BaseResultMap" type="com.ddmc.kanban.model.Car">
    <!--@mbg.generated 2019-04-02 14:13:02-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="car_brand" jdbcType="VARCHAR" property="carBrand" />
    <result column="so_id" jdbcType="INTEGER" property="soId" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="car_type" jdbcType="TINYINT" property="carType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated 2019-04-02 14:13:02-->
    id, car_brand, so_id, dept_id, dept_name, car_type, create_time, update_time
  </sql>
  <insert id="insert" parameterType="com.ddmc.kanban.model.Car">
    <!--@mbg.generated 2019-04-02 14:13:02-->
    INSERT INTO car (
      car_brand, so_id, dept_id, dept_name, car_type, create_time, update_time
    ) VALUES (  
      #{carBrand,jdbcType=VARCHAR}, #{soId,jdbcType=INTEGER}, #{deptId,jdbcType=INTEGER}, 
      #{deptName,jdbcType=VARCHAR}, #{carType,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}
    )
  </insert>
  <insert id="insertList" parameterType="java.util.List">
    <!--@mbg.generated 2019-04-02 14:13:02-->
    INSERT INTO car (
      car_brand, so_id, dept_id, dept_name, car_type, create_time, update_time
    ) VALUES 
    <foreach collection="list" index="index" item="item" separator=",">
      (
        #{item.carBrand,jdbcType=VARCHAR}, #{item.soId,jdbcType=INTEGER}, #{item.deptId,jdbcType=INTEGER}, 
        #{item.deptName,jdbcType=VARCHAR}, #{item.carType,jdbcType=TINYINT}, #{item.createTime,jdbcType=TIMESTAMP}, 
        #{item.updateTime,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-02 14:13:02-->
    SELECT <include refid="Base_Column_List"/> FROM car WHERE id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectOne" parameterType="com.ddmc.kanban.model.Car" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-02 14:13:02-->
    SELECT <include refid="Base_Column_List"/> FROM car
    <where>
      <if test="carBrand != null">
        AND car_brand = #{carBrand,jdbcType=VARCHAR}
      </if>
      <if test="soId != null">
        AND so_id = #{soId,jdbcType=INTEGER}
      </if>
      <if test="deptId != null">
        AND dept_id = #{deptId,jdbcType=INTEGER}
      </if>
      <if test="deptName != null">
        AND dept_name = #{deptName,jdbcType=VARCHAR}
      </if>
      <if test="carType != null">
        AND car_type = #{carType,jdbcType=TINYINT}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      LIMIT 1
    </where>
  </select>
  <select id="selectList" parameterType="com.ddmc.kanban.model.Car" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-02 14:13:02-->
    SELECT <include refid="Base_Column_List"/> FROM car
    <where>
      <if test="carBrand != null">
        AND car_brand = #{carBrand,jdbcType=VARCHAR}
      </if>
      <if test="soId != null">
        AND so_id = #{soId,jdbcType=INTEGER}
      </if>
      <if test="deptId != null">
        AND dept_id = #{deptId,jdbcType=INTEGER}
      </if>
      <if test="deptName != null">
        AND dept_name = #{deptName,jdbcType=VARCHAR}
      </if>
      <if test="carType != null">
        AND car_type = #{carType,jdbcType=TINYINT}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-02 14:13:02-->
    SELECT <include refid="Base_Column_List"/> FROM car
  </select>
  <select id="count" parameterType="com.ddmc.kanban.model.Car" resultType="java.lang.Long">
    <!--@mbg.generated 2019-04-02 14:13:02-->
    SELECT count(1) FROM car
    <where>
      <if test="id != null">
        AND id=#{id,jdbcType=BIGINT}
      </if>
      <if test="carBrand != null">
        AND car_brand=#{carBrand,jdbcType=VARCHAR}
      </if>
      <if test="soId != null">
        AND so_id=#{soId,jdbcType=INTEGER}
      </if>
      <if test="deptId != null">
        AND dept_id=#{deptId,jdbcType=INTEGER}
      </if>
      <if test="deptName != null">
        AND dept_name=#{deptName,jdbcType=VARCHAR}
      </if>
      <if test="carType != null">
        AND car_type=#{carType,jdbcType=TINYINT}
      </if>
      <if test="createTime != null">
        AND create_time=#{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time=#{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <delete id="deleteById" parameterType="java.lang.Long">
    <!--@mbg.generated 2019-04-02 14:13:02-->
    DELETE FROM car WHERE id = #{id,jdbcType=BIGINT}
  </delete>
  <update id="update" parameterType="com.ddmc.kanban.model.Car">
    <!--@mbg.generated 2019-04-02 14:13:02-->
    UPDATE car
    <set>
      <if test="carBrand != null">
        car_brand = #{carBrand,jdbcType=VARCHAR},
      </if>
      <if test="soId != null">
        so_id = #{soId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null">
        dept_id = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="deptName != null">
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="carType != null">
        car_type = #{carType,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE id = #{id,jdbcType=BIGINT}
  </update>
</mapper>