<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddmc.kanban.dao.kanban.PestInspectionMouseDictDao">
  <resultMap id="BaseResultMap" type="com.ddmc.kanban.model.PestInspectionMouseDict">
    <!--@mbg.generated 2019-04-04 10:35:23-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated 2019-04-04 10:35:23-->
    id, name, is_delete, create_time, update_time
  </sql>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ddmc.kanban.model.PestInspectionMouseDict" useGeneratedKeys="true">
    <!--@mbg.generated 2019-04-04 10:35:23-->
    INSERT INTO pest_inspection_mouse_dict (
      name, is_delete, create_time, update_time
    ) VALUES (  
      #{name,jdbcType=VARCHAR}, #{isDelete,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}
    )
  </insert>
  <insert id="insertList" parameterType="java.util.List">
    <!--@mbg.generated 2019-04-04 10:35:23-->
    INSERT INTO pest_inspection_mouse_dict (
      name, is_delete, create_time, update_time
    ) VALUES 
    <foreach collection="list" index="index" item="item" separator=",">
      (
        #{item.name,jdbcType=VARCHAR}, #{item.isDelete,jdbcType=BIT}, #{item.createTime,jdbcType=TIMESTAMP}, 
        #{item.updateTime,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-04 10:35:23-->
    SELECT <include refid="Base_Column_List"/> FROM pest_inspection_mouse_dict WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectOne" parameterType="com.ddmc.kanban.model.PestInspectionMouseDict" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-04 10:35:23-->
    SELECT <include refid="Base_Column_List"/> FROM pest_inspection_mouse_dict
    <where>
      <if test="name != null">
        AND name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="isDelete != null">
        AND is_delete = #{isDelete,jdbcType=BIT}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      LIMIT 1
    </where>
  </select>
  <select id="selectList" parameterType="com.ddmc.kanban.model.PestInspectionMouseDict" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-04 10:35:23-->
    SELECT <include refid="Base_Column_List"/> FROM pest_inspection_mouse_dict
    <where>
      <if test="name != null">
        AND name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="isDelete != null">
        AND is_delete = #{isDelete,jdbcType=BIT}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-04 10:35:23-->
    SELECT <include refid="Base_Column_List"/> FROM pest_inspection_mouse_dict
  </select>
  <select id="count" parameterType="com.ddmc.kanban.model.PestInspectionMouseDict" resultType="java.lang.Long">
    <!--@mbg.generated 2019-04-04 10:35:23-->
    SELECT count(1) FROM pest_inspection_mouse_dict
    <where>
      <if test="id != null">
        AND id=#{id,jdbcType=INTEGER}
      </if>
      <if test="name != null">
        AND name=#{name,jdbcType=VARCHAR}
      </if>
      <if test="isDelete != null">
        AND is_delete=#{isDelete,jdbcType=BIT}
      </if>
      <if test="createTime != null">
        AND create_time=#{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time=#{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer">
    <!--@mbg.generated 2019-04-04 10:35:23-->
    DELETE FROM pest_inspection_mouse_dict WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <update id="update" parameterType="com.ddmc.kanban.model.PestInspectionMouseDict">
    <!--@mbg.generated 2019-04-04 10:35:23-->
    UPDATE pest_inspection_mouse_dict
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
</mapper>