<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddmc.kanban.dao.kanban.ProductMonitorPidTempDao">
  <resultMap id="BaseResultMap" type="com.ddmc.kanban.model.ProductMonitorPidTemp">
    <!--@mbg.generated 2019-04-12 16:49:58-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated 2019-04-12 16:49:58-->
    id, product_id, create_time
  </sql>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ddmc.kanban.model.ProductMonitorPidTemp" useGeneratedKeys="true">
    <!--@mbg.generated 2019-04-12 16:49:58-->
    INSERT INTO product_monitor_pid_temp (
      product_id, create_time
    ) VALUES (  
      #{productId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
    )
  </insert>
  <insert id="insertList" parameterType="java.util.List">
    <!--@mbg.generated 2019-04-12 16:49:58-->
    INSERT INTO product_monitor_pid_temp (
      product_id, create_time
    ) VALUES 
    <foreach collection="list" index="index" item="item" separator=",">
      (
        #{item.productId,jdbcType=INTEGER}, #{item.createTime,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-12 16:49:58-->
    SELECT <include refid="Base_Column_List"/> FROM product_monitor_pid_temp WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectOne" parameterType="com.ddmc.kanban.model.ProductMonitorPidTemp" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-12 16:49:58-->
    SELECT <include refid="Base_Column_List"/> FROM product_monitor_pid_temp
    <where>
      <if test="productId != null">
        AND product_id = #{productId,jdbcType=INTEGER}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      LIMIT 1
    </where>
  </select>
  <select id="selectList" parameterType="com.ddmc.kanban.model.ProductMonitorPidTemp" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-12 16:49:58-->
    SELECT <include refid="Base_Column_List"/> FROM product_monitor_pid_temp
    <where>
      <if test="productId != null">
        AND product_id = #{productId,jdbcType=INTEGER}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-12 16:49:58-->
    SELECT <include refid="Base_Column_List"/> FROM product_monitor_pid_temp
  </select>
  <select id="count" parameterType="com.ddmc.kanban.model.ProductMonitorPidTemp" resultType="java.lang.Long">
    <!--@mbg.generated 2019-04-12 16:49:58-->
    SELECT count(1) FROM product_monitor_pid_temp
    <where>
      <if test="id != null">
        AND id=#{id,jdbcType=INTEGER}
      </if>
      <if test="productId != null">
        AND product_id=#{productId,jdbcType=INTEGER}
      </if>
      <if test="createTime != null">
        AND create_time=#{createTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer">
    <!--@mbg.generated 2019-04-12 16:49:58-->
    DELETE FROM product_monitor_pid_temp WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <update id="update" parameterType="com.ddmc.kanban.model.ProductMonitorPidTemp">
    <!--@mbg.generated 2019-04-12 16:49:58-->
    UPDATE product_monitor_pid_temp
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
</mapper>