<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddmc.kanban.dao.RefriHouseAvgTempDao">
  <resultMap id="BaseResultMap" type="com.ddmc.kanban.model.RefriHouseAvgTemp">
    <!--@mbg.generated 2019-04-03 10:15:16-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="out_gate_id" jdbcType="VARCHAR" property="outGateId" />
    <result column="terminal_id" jdbcType="VARCHAR" property="terminalId" />
    <result column="calculate_day" jdbcType="INTEGER" property="calculateDay" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="avg_temperature" jdbcType="DECIMAL" property="avgTemperature" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated 2019-04-03 10:15:16-->
    id, out_gate_id, terminal_id, calculate_day, amount, avg_temperature, create_time, 
    update_time
  </sql>
  <insert id="insert" parameterType="com.ddmc.kanban.model.RefriHouseAvgTemp">
    <!--@mbg.generated 2019-04-03 10:15:16-->
    INSERT INTO refri_house_avg_temp (
      out_gate_id, terminal_id, calculate_day, amount, avg_temperature, create_time, 
      update_time
    ) VALUES (  
      #{outGateId,jdbcType=VARCHAR}, #{terminalId,jdbcType=VARCHAR}, #{calculateDay,jdbcType=INTEGER}, 
      #{amount,jdbcType=INTEGER}, #{avgTemperature,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}
    )
  </insert>
  <insert id="insertList" parameterType="java.util.List">
    <!--@mbg.generated 2019-04-03 10:15:16-->
    INSERT INTO refri_house_avg_temp (
      out_gate_id, terminal_id, calculate_day, amount, avg_temperature, create_time, 
      update_time
    ) VALUES 
    <foreach collection="list" index="index" item="item" separator=",">
      (
        #{item.outGateId,jdbcType=VARCHAR}, #{item.terminalId,jdbcType=VARCHAR}, #{item.calculateDay,jdbcType=INTEGER}, 
        #{item.amount,jdbcType=INTEGER}, #{item.avgTemperature,jdbcType=DECIMAL}, #{item.createTime,jdbcType=TIMESTAMP}, 
        #{item.updateTime,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-03 10:15:16-->
    SELECT <include refid="Base_Column_List"/> FROM refri_house_avg_temp WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectOne" parameterType="com.ddmc.kanban.model.RefriHouseAvgTemp" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-03 10:15:16-->
    SELECT <include refid="Base_Column_List"/> FROM refri_house_avg_temp
    <where>
      <if test="outGateId != null">
        AND out_gate_id = #{outGateId,jdbcType=VARCHAR}
      </if>
      <if test="terminalId != null">
        AND terminal_id = #{terminalId,jdbcType=VARCHAR}
      </if>
      <if test="calculateDay != null">
        AND calculate_day = #{calculateDay,jdbcType=INTEGER}
      </if>
      <if test="amount != null">
        AND amount = #{amount,jdbcType=INTEGER}
      </if>
      <if test="avgTemperature != null">
        AND avg_temperature = #{avgTemperature,jdbcType=DECIMAL}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      LIMIT 1
    </where>
  </select>
  <select id="selectList" parameterType="com.ddmc.kanban.model.RefriHouseAvgTemp" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-03 10:15:16-->
    SELECT <include refid="Base_Column_List"/> FROM refri_house_avg_temp
    <where>
      <if test="outGateId != null">
        AND out_gate_id = #{outGateId,jdbcType=VARCHAR}
      </if>
      <if test="terminalId != null">
        AND terminal_id = #{terminalId,jdbcType=VARCHAR}
      </if>
      <if test="calculateDay != null">
        AND calculate_day = #{calculateDay,jdbcType=INTEGER}
      </if>
      <if test="amount != null">
        AND amount = #{amount,jdbcType=INTEGER}
      </if>
      <if test="avgTemperature != null">
        AND avg_temperature = #{avgTemperature,jdbcType=DECIMAL}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-03 10:15:16-->
    SELECT <include refid="Base_Column_List"/> FROM refri_house_avg_temp
  </select>
  <select id="count" parameterType="com.ddmc.kanban.model.RefriHouseAvgTemp" resultType="java.lang.Long">
    <!--@mbg.generated 2019-04-03 10:15:16-->
    SELECT count(1) FROM refri_house_avg_temp
    <where>
      <if test="id != null">
        AND id=#{id,jdbcType=INTEGER}
      </if>
      <if test="outGateId != null">
        AND out_gate_id=#{outGateId,jdbcType=VARCHAR}
      </if>
      <if test="terminalId != null">
        AND terminal_id=#{terminalId,jdbcType=VARCHAR}
      </if>
      <if test="calculateDay != null">
        AND calculate_day=#{calculateDay,jdbcType=INTEGER}
      </if>
      <if test="amount != null">
        AND amount=#{amount,jdbcType=INTEGER}
      </if>
      <if test="avgTemperature != null">
        AND avg_temperature=#{avgTemperature,jdbcType=DECIMAL}
      </if>
      <if test="createTime != null">
        AND create_time=#{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time=#{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer">
    <!--@mbg.generated 2019-04-03 10:15:16-->
    DELETE FROM refri_house_avg_temp WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <update id="update" parameterType="com.ddmc.kanban.model.RefriHouseAvgTemp">
    <!--@mbg.generated 2019-04-03 10:15:16-->
    UPDATE refri_house_avg_temp
    <set>
      <if test="outGateId != null">
        out_gate_id = #{outGateId,jdbcType=VARCHAR},
      </if>
      <if test="terminalId != null">
        terminal_id = #{terminalId,jdbcType=VARCHAR},
      </if>
      <if test="calculateDay != null">
        calculate_day = #{calculateDay,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="avgTemperature != null">
        avg_temperature = #{avgTemperature,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
</mapper>