<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddmc.kanban.dao.StoreProductBatchMonitorDao">
  <resultMap id="BaseResultMap" type="com.ddmc.kanban.model.StoreProductBatchMonitor">
    <!--@mbg.generated 2019-03-22 15:01:53-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="store_id" jdbcType="INTEGER" property="storeId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="batch_id" jdbcType="VARCHAR" property="batchId" />
    <result column="batch_update_time" jdbcType="TIMESTAMP" property="batchUpdateTime" />
    <result column="quality_period" jdbcType="INTEGER" property="qualityPeriod" />
    <result column="sale_period" jdbcType="INTEGER" property="salePeriod" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated 2019-03-22 15:01:53-->
    id, type, store_id, product_id, batch_id, batch_update_time, quality_period, sale_period, 
    amount, create_time, update_time
  </sql>
  <insert id="insert" parameterType="com.ddmc.kanban.model.StoreProductBatchMonitor">
    <!--@mbg.generated 2019-03-22 15:01:53-->
    INSERT INTO store_product_batch_monitor (
      type, store_id, product_id, batch_id, batch_update_time, quality_period, sale_period, 
      amount, create_time, update_time
    ) VALUES (  
      #{type,jdbcType=SMALLINT}, #{storeId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, 
      #{batchId,jdbcType=VARCHAR}, #{batchUpdateTime,jdbcType=TIMESTAMP}, #{qualityPeriod,jdbcType=INTEGER}, 
      #{salePeriod,jdbcType=INTEGER}, #{amount,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}
    )
  </insert>
  <insert id="insertList" parameterType="java.util.List">
    <!--@mbg.generated 2019-03-22 15:01:53-->
    INSERT INTO store_product_batch_monitor (
      type, store_id, product_id, batch_id, batch_update_time, quality_period, sale_period, 
      amount, create_time, update_time
    ) VALUES 
    <foreach collection="list" index="index" item="item" separator=",">
      (
        #{item.type,jdbcType=SMALLINT}, #{item.storeId,jdbcType=INTEGER}, #{item.productId,jdbcType=INTEGER}, 
        #{item.batchId,jdbcType=VARCHAR}, #{item.batchUpdateTime,jdbcType=TIMESTAMP}, #{item.qualityPeriod,jdbcType=INTEGER}, 
        #{item.salePeriod,jdbcType=INTEGER}, #{item.amount,jdbcType=DECIMAL}, #{item.createTime,jdbcType=TIMESTAMP}, 
        #{item.updateTime,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-03-22 15:01:53-->
    SELECT <include refid="Base_Column_List" /> FROM store_product_batch_monitor WHERE id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectOne" parameterType="com.ddmc.kanban.model.StoreProductBatchMonitor" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-03-22 15:01:53-->
    SELECT <include refid="Base_Column_List" /> FROM store_product_batch_monitor
    <where>
      <if test="type != null">
        AND type = #{type,jdbcType=SMALLINT}
      </if>
      <if test="storeId != null">
        AND store_id = #{storeId,jdbcType=INTEGER}
      </if>
      <if test="productId != null">
        AND product_id = #{productId,jdbcType=INTEGER}
      </if>
      <if test="batchId != null">
        AND batch_id = #{batchId,jdbcType=VARCHAR}
      </if>
      <if test="batchUpdateTime != null">
        AND batch_update_time = #{batchUpdateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="qualityPeriod != null">
        AND quality_period = #{qualityPeriod,jdbcType=INTEGER}
      </if>
      <if test="salePeriod != null">
        AND sale_period = #{salePeriod,jdbcType=INTEGER}
      </if>
      <if test="amount != null">
        AND amount = #{amount,jdbcType=DECIMAL}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      LIMIT 1
    </where>
  </select>
  <select id="selectList" parameterType="com.ddmc.kanban.model.StoreProductBatchMonitor" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-03-22 15:01:53-->
    SELECT <include refid="Base_Column_List" /> FROM store_product_batch_monitor
    <where>
      <if test="type != null">
        AND type = #{type,jdbcType=SMALLINT}
      </if>
      <if test="storeId != null">
        AND store_id = #{storeId,jdbcType=INTEGER}
      </if>
      <if test="productId != null">
        AND product_id = #{productId,jdbcType=INTEGER}
      </if>
      <if test="batchId != null">
        AND batch_id = #{batchId,jdbcType=VARCHAR}
      </if>
      <if test="batchUpdateTime != null">
        AND batch_update_time = #{batchUpdateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="qualityPeriod != null">
        AND quality_period = #{qualityPeriod,jdbcType=INTEGER}
      </if>
      <if test="salePeriod != null">
        AND sale_period = #{salePeriod,jdbcType=INTEGER}
      </if>
      <if test="amount != null">
        AND amount = #{amount,jdbcType=DECIMAL}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-03-22 15:01:53-->
    SELECT <include refid="Base_Column_List" /> FROM store_product_batch_monitor
  </select>
  <select id="count" parameterType="com.ddmc.kanban.model.StoreProductBatchMonitor" resultType="java.lang.Long">
    <!--@mbg.generated 2019-03-22 15:01:53-->
    SELECT count(1) FROM store_product_batch_monitor
    <where>
      <if test="id != null">
        AND id=#{id,jdbcType=BIGINT}
      </if>
      <if test="type != null">
        AND type=#{type,jdbcType=SMALLINT}
      </if>
      <if test="storeId != null">
        AND store_id=#{storeId,jdbcType=INTEGER}
      </if>
      <if test="productId != null">
        AND product_id=#{productId,jdbcType=INTEGER}
      </if>
      <if test="batchId != null">
        AND batch_id=#{batchId,jdbcType=VARCHAR}
      </if>
      <if test="batchUpdateTime != null">
        AND batch_update_time=#{batchUpdateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="qualityPeriod != null">
        AND quality_period=#{qualityPeriod,jdbcType=INTEGER}
      </if>
      <if test="salePeriod != null">
        AND sale_period=#{salePeriod,jdbcType=INTEGER}
      </if>
      <if test="amount != null">
        AND amount=#{amount,jdbcType=DECIMAL}
      </if>
      <if test="createTime != null">
        AND create_time=#{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time=#{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <delete id="deleteById" parameterType="java.lang.Long">
    <!--@mbg.generated 2019-03-22 15:01:53-->
    DELETE FROM store_product_batch_monitor WHERE id = #{id,jdbcType=BIGINT}
  </delete>
  <update id="update" parameterType="com.ddmc.kanban.model.StoreProductBatchMonitor">
    <!--@mbg.generated 2019-03-22 15:01:53-->
    UPDATE store_product_batch_monitor
    <set>
      <if test="type != null">
        type = #{type,jdbcType=SMALLINT},
      </if>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="batchId != null">
        batch_id = #{batchId,jdbcType=VARCHAR},
      </if>
      <if test="batchUpdateTime != null">
        batch_update_time = #{batchUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qualityPeriod != null">
        quality_period = #{qualityPeriod,jdbcType=INTEGER},
      </if>
      <if test="salePeriod != null">
        sale_period = #{salePeriod,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
     WHERE id = #{id,jdbcType=BIGINT}
  </update>
</mapper>