<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddmc.kanban.dao.StoreDao">
  <resultMap id="BaseResultMap" type="com.ddmc.kanban.model.Store">
    <!--@mbg.generated 2019-03-22 14:20:27-->
    <id column="store_id" jdbcType="INTEGER" property="storeId" />
    <result column="store_name" jdbcType="VARCHAR" property="storeName" />
    <result column="city_id" jdbcType="VARCHAR" property="cityId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="is_purchase" jdbcType="TINYINT" property="isPurchase" />
    <result column="is_general" jdbcType="TINYINT" property="isGeneral" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="station_id" jdbcType="VARCHAR" property="stationId" />
    <result column="sort" jdbcType="REAL" property="sort" />
    <result column="is_test" jdbcType="TINYINT" property="isTest" />
    <result column="is_prestore" jdbcType="TINYINT" property="isPrestore" />
    <result column="is_sale" jdbcType="TINYINT" property="isSale" />
    <result column="is_scan" jdbcType="TINYINT" property="isScan" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="is_chive_notice" jdbcType="BIT" property="isChiveNotice" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated 2019-03-22 14:20:27-->
    store_id, store_name, city_id, address, phone, create_time, update_time, status, 
    is_purchase, is_general, update_user, station_id, sort, is_test, is_prestore, is_sale, 
    is_scan, type, is_chive_notice
  </sql>
  <insert id="insert" parameterType="com.ddmc.kanban.model.Store">
    <!--@mbg.generated 2019-03-22 14:20:27-->
    INSERT INTO store (
      store_name, city_id, address, phone, create_time, update_time, status, is_purchase, 
      is_general, update_user, station_id, sort, is_test, is_prestore, is_sale, is_scan, 
      type, is_chive_notice, remark
    ) VALUES (  
      #{storeName,jdbcType=VARCHAR}, #{cityId,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=TINYINT}, #{isPurchase,jdbcType=TINYINT}, #{isGeneral,jdbcType=TINYINT}, 
      #{updateUser,jdbcType=VARCHAR}, #{stationId,jdbcType=VARCHAR}, #{sort,jdbcType=REAL}, 
      #{isTest,jdbcType=TINYINT}, #{isPrestore,jdbcType=TINYINT}, #{isSale,jdbcType=TINYINT}, 
      #{isScan,jdbcType=TINYINT}, #{type,jdbcType=TINYINT}, #{isChiveNotice,jdbcType=BIT}, 
      #{remark,jdbcType=LONGVARCHAR}
    )
  </insert>
  <insert id="insertList" parameterType="java.util.List">
    <!--@mbg.generated 2019-03-22 14:20:27-->
    INSERT INTO store (
      store_name, city_id, address, phone, create_time, update_time, status, is_purchase, 
      is_general, update_user, station_id, sort, is_test, is_prestore, is_sale, is_scan, 
      type, is_chive_notice, remark
    ) VALUES 
    <foreach collection="list" index="index" item="item" separator=",">
      (
        #{item.storeName,jdbcType=VARCHAR}, #{item.cityId,jdbcType=VARCHAR}, #{item.address,jdbcType=VARCHAR}, 
        #{item.phone,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP}, 
        #{item.status,jdbcType=TINYINT}, #{item.isPurchase,jdbcType=TINYINT}, #{item.isGeneral,jdbcType=TINYINT}, 
        #{item.updateUser,jdbcType=VARCHAR}, #{item.stationId,jdbcType=VARCHAR}, #{item.sort,jdbcType=REAL}, 
        #{item.isTest,jdbcType=TINYINT}, #{item.isPrestore,jdbcType=TINYINT}, #{item.isSale,jdbcType=TINYINT}, 
        #{item.isScan,jdbcType=TINYINT}, #{item.type,jdbcType=TINYINT}, #{item.isChiveNotice,jdbcType=BIT}, 
        #{item.remark,jdbcType=LONGVARCHAR}
      )
    </foreach>
  </insert>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-03-22 14:20:27-->
    SELECT <include refid="Base_Column_List" /> FROM store WHERE store_id = #{storeId,jdbcType=INTEGER}
  </select>
  <select id="selectOne" parameterType="com.ddmc.kanban.model.Store" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-03-22 14:20:27-->
    SELECT <include refid="Base_Column_List" /> FROM store
    <where>
      <if test="storeName != null">
        AND store_name = #{storeName,jdbcType=VARCHAR}
      </if>
      <if test="cityId != null">
        AND city_id = #{cityId,jdbcType=VARCHAR}
      </if>
      <if test="address != null">
        AND address = #{address,jdbcType=VARCHAR}
      </if>
      <if test="phone != null">
        AND phone = #{phone,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="status != null">
        AND status = #{status,jdbcType=TINYINT}
      </if>
      <if test="isPurchase != null">
        AND is_purchase = #{isPurchase,jdbcType=TINYINT}
      </if>
      <if test="isGeneral != null">
        AND is_general = #{isGeneral,jdbcType=TINYINT}
      </if>
      <if test="updateUser != null">
        AND update_user = #{updateUser,jdbcType=VARCHAR}
      </if>
      <if test="stationId != null">
        AND station_id = #{stationId,jdbcType=VARCHAR}
      </if>
      <if test="sort != null">
        AND sort = #{sort,jdbcType=REAL}
      </if>
      <if test="isTest != null">
        AND is_test = #{isTest,jdbcType=TINYINT}
      </if>
      <if test="isPrestore != null">
        AND is_prestore = #{isPrestore,jdbcType=TINYINT}
      </if>
      <if test="isSale != null">
        AND is_sale = #{isSale,jdbcType=TINYINT}
      </if>
      <if test="isScan != null">
        AND is_scan = #{isScan,jdbcType=TINYINT}
      </if>
      <if test="type != null">
        AND type = #{type,jdbcType=TINYINT}
      </if>
      <if test="isChiveNotice != null">
        AND is_chive_notice = #{isChiveNotice,jdbcType=BIT}
      </if>
      <if test="remark != null">
        AND remark = #{remark,jdbcType=LONGVARCHAR}
      </if>
      LIMIT 1
    </where>
  </select>
  <select id="selectList" parameterType="com.ddmc.kanban.model.Store" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-03-22 14:20:27-->
    SELECT <include refid="Base_Column_List" /> FROM store
    <where>
      <if test="storeName != null">
        AND store_name = #{storeName,jdbcType=VARCHAR}
      </if>
      <if test="cityId != null">
        AND city_id = #{cityId,jdbcType=VARCHAR}
      </if>
      <if test="address != null">
        AND address = #{address,jdbcType=VARCHAR}
      </if>
      <if test="phone != null">
        AND phone = #{phone,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="status != null">
        AND status = #{status,jdbcType=TINYINT}
      </if>
      <if test="isPurchase != null">
        AND is_purchase = #{isPurchase,jdbcType=TINYINT}
      </if>
      <if test="isGeneral != null">
        AND is_general = #{isGeneral,jdbcType=TINYINT}
      </if>
      <if test="updateUser != null">
        AND update_user = #{updateUser,jdbcType=VARCHAR}
      </if>
      <if test="stationId != null">
        AND station_id = #{stationId,jdbcType=VARCHAR}
      </if>
      <if test="sort != null">
        AND sort = #{sort,jdbcType=REAL}
      </if>
      <if test="isTest != null">
        AND is_test = #{isTest,jdbcType=TINYINT}
      </if>
      <if test="isPrestore != null">
        AND is_prestore = #{isPrestore,jdbcType=TINYINT}
      </if>
      <if test="isSale != null">
        AND is_sale = #{isSale,jdbcType=TINYINT}
      </if>
      <if test="isScan != null">
        AND is_scan = #{isScan,jdbcType=TINYINT}
      </if>
      <if test="type != null">
        AND type = #{type,jdbcType=TINYINT}
      </if>
      <if test="isChiveNotice != null">
        AND is_chive_notice = #{isChiveNotice,jdbcType=BIT}
      </if>
      <if test="remark != null">
        AND remark = #{remark,jdbcType=LONGVARCHAR}
      </if>
    </where>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-03-22 14:20:27-->
    SELECT <include refid="Base_Column_List" /> FROM store
  </select>
  <select id="count" parameterType="com.ddmc.kanban.model.Store" resultType="java.lang.Long">
    <!--@mbg.generated 2019-03-22 14:20:27-->
    SELECT count(1) FROM store
    <where>
      <if test="storeId != null">
        AND store_id=#{storeId,jdbcType=INTEGER}
      </if>
      <if test="storeName != null">
        AND store_name=#{storeName,jdbcType=VARCHAR}
      </if>
      <if test="cityId != null">
        AND city_id=#{cityId,jdbcType=VARCHAR}
      </if>
      <if test="address != null">
        AND address=#{address,jdbcType=VARCHAR}
      </if>
      <if test="phone != null">
        AND phone=#{phone,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        AND create_time=#{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time=#{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="status != null">
        AND status=#{status,jdbcType=TINYINT}
      </if>
      <if test="isPurchase != null">
        AND is_purchase=#{isPurchase,jdbcType=TINYINT}
      </if>
      <if test="isGeneral != null">
        AND is_general=#{isGeneral,jdbcType=TINYINT}
      </if>
      <if test="updateUser != null">
        AND update_user=#{updateUser,jdbcType=VARCHAR}
      </if>
      <if test="stationId != null">
        AND station_id=#{stationId,jdbcType=VARCHAR}
      </if>
      <if test="sort != null">
        AND sort=#{sort,jdbcType=REAL}
      </if>
      <if test="isTest != null">
        AND is_test=#{isTest,jdbcType=TINYINT}
      </if>
      <if test="isPrestore != null">
        AND is_prestore=#{isPrestore,jdbcType=TINYINT}
      </if>
      <if test="isSale != null">
        AND is_sale=#{isSale,jdbcType=TINYINT}
      </if>
      <if test="isScan != null">
        AND is_scan=#{isScan,jdbcType=TINYINT}
      </if>
      <if test="type != null">
        AND type=#{type,jdbcType=TINYINT}
      </if>
      <if test="isChiveNotice != null">
        AND is_chive_notice=#{isChiveNotice,jdbcType=BIT}
      </if>
      <if test="remark != null">
        AND remark=#{remark,jdbcType=LONGVARCHAR}
      </if>
    </where>
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer">
    <!--@mbg.generated 2019-03-22 14:20:27-->
    DELETE FROM store WHERE store_id = #{storeId,jdbcType=INTEGER}
  </delete>
  <update id="update" parameterType="com.ddmc.kanban.model.Store">
    <!--@mbg.generated 2019-03-22 14:20:27-->
    UPDATE store
    <set>
      <if test="storeName != null">
        store_name = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="isPurchase != null">
        is_purchase = #{isPurchase,jdbcType=TINYINT},
      </if>
      <if test="isGeneral != null">
        is_general = #{isGeneral,jdbcType=TINYINT},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="stationId != null">
        station_id = #{stationId,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=REAL},
      </if>
      <if test="isTest != null">
        is_test = #{isTest,jdbcType=TINYINT},
      </if>
      <if test="isPrestore != null">
        is_prestore = #{isPrestore,jdbcType=TINYINT},
      </if>
      <if test="isSale != null">
        is_sale = #{isSale,jdbcType=TINYINT},
      </if>
      <if test="isScan != null">
        is_scan = #{isScan,jdbcType=TINYINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="isChiveNotice != null">
        is_chive_notice = #{isChiveNotice,jdbcType=BIT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
     WHERE store_id = #{storeId,jdbcType=INTEGER}
  </update>
</mapper>