<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddmc.kanban.dao.kanban.StoreInspectionRectifyDao">
  <resultMap id="BaseResultMap" type="com.ddmc.kanban.model.StoreInspectionRectify">
    <!--@mbg.generated 2019-04-08 13:30:01-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="inspection_id" jdbcType="INTEGER" property="inspectionId" />
    <result column="rectify_name" jdbcType="VARCHAR" property="rectifyName" />
    <result column="rectify_person" jdbcType="VARCHAR" property="rectifyPerson" />
    <result column="rectify_date" jdbcType="TIMESTAMP" property="rectifyDate" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="rectify_content" jdbcType="LONGVARCHAR" property="rectifyContent" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated 2019-04-08 13:30:01-->
    id, inspection_id, rectify_name, rectify_person, rectify_date, create_time, update_time, 
    rectify_content
  </sql>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ddmc.kanban.model.StoreInspectionRectify" useGeneratedKeys="true">
    <!--@mbg.generated 2019-04-08 13:30:01-->
    INSERT INTO store_inspection_rectify (
      inspection_id, rectify_name, rectify_person, rectify_date, create_time, update_time, 
      rectify_content
    ) VALUES (  
      #{inspectionId,jdbcType=INTEGER}, #{rectifyName,jdbcType=VARCHAR}, #{rectifyPerson,jdbcType=VARCHAR}, 
      #{rectifyDate,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{rectifyContent,jdbcType=LONGVARCHAR}
    )
  </insert>
  <insert id="insertList" parameterType="java.util.List">
    <!--@mbg.generated 2019-04-08 13:30:01-->
    INSERT INTO store_inspection_rectify (
      inspection_id, rectify_name, rectify_person, rectify_date, create_time, update_time, 
      rectify_content
    ) VALUES 
    <foreach collection="list" index="index" item="item" separator=",">
      (
        #{item.inspectionId,jdbcType=INTEGER}, #{item.rectifyName,jdbcType=VARCHAR}, #{item.rectifyPerson,jdbcType=VARCHAR}, 
        #{item.rectifyDate,jdbcType=TIMESTAMP}, #{item.createTime,jdbcType=TIMESTAMP}, 
        #{item.updateTime,jdbcType=TIMESTAMP}, #{item.rectifyContent,jdbcType=LONGVARCHAR}
      )
    </foreach>
  </insert>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-08 13:30:01-->
    SELECT <include refid="Base_Column_List" /> FROM store_inspection_rectify WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectOne" parameterType="com.ddmc.kanban.model.StoreInspectionRectify" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-08 13:30:01-->
    SELECT <include refid="Base_Column_List" /> FROM store_inspection_rectify
    <where>
      <if test="inspectionId != null">
        AND inspection_id = #{inspectionId,jdbcType=INTEGER}
      </if>
      <if test="rectifyName != null">
        AND rectify_name = #{rectifyName,jdbcType=VARCHAR}
      </if>
      <if test="rectifyPerson != null">
        AND rectify_person = #{rectifyPerson,jdbcType=VARCHAR}
      </if>
      <if test="rectifyDate != null">
        AND rectify_date = #{rectifyDate,jdbcType=TIMESTAMP}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="rectifyContent != null">
        AND rectify_content = #{rectifyContent,jdbcType=LONGVARCHAR}
      </if>
      LIMIT 1
    </where>
  </select>
  <select id="selectList" parameterType="com.ddmc.kanban.model.StoreInspectionRectify" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-08 13:30:01-->
    SELECT <include refid="Base_Column_List" /> FROM store_inspection_rectify
    <where>
      <if test="inspectionId != null">
        AND inspection_id = #{inspectionId,jdbcType=INTEGER}
      </if>
      <if test="rectifyName != null">
        AND rectify_name = #{rectifyName,jdbcType=VARCHAR}
      </if>
      <if test="rectifyPerson != null">
        AND rectify_person = #{rectifyPerson,jdbcType=VARCHAR}
      </if>
      <if test="rectifyDate != null">
        AND rectify_date = #{rectifyDate,jdbcType=TIMESTAMP}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="rectifyContent != null">
        AND rectify_content = #{rectifyContent,jdbcType=LONGVARCHAR}
      </if>
    </where>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-08 13:30:01-->
    SELECT <include refid="Base_Column_List" /> FROM store_inspection_rectify
  </select>
  <select id="count" parameterType="com.ddmc.kanban.model.StoreInspectionRectify" resultType="java.lang.Long">
    <!--@mbg.generated 2019-04-08 13:30:01-->
    SELECT count(1) FROM store_inspection_rectify
    <where>
      <if test="id != null">
        AND id=#{id,jdbcType=INTEGER}
      </if>
      <if test="inspectionId != null">
        AND inspection_id=#{inspectionId,jdbcType=INTEGER}
      </if>
      <if test="rectifyName != null">
        AND rectify_name=#{rectifyName,jdbcType=VARCHAR}
      </if>
      <if test="rectifyPerson != null">
        AND rectify_person=#{rectifyPerson,jdbcType=VARCHAR}
      </if>
      <if test="rectifyDate != null">
        AND rectify_date=#{rectifyDate,jdbcType=TIMESTAMP}
      </if>
      <if test="createTime != null">
        AND create_time=#{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time=#{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="rectifyContent != null">
        AND rectify_content=#{rectifyContent,jdbcType=LONGVARCHAR}
      </if>
    </where>
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer">
    <!--@mbg.generated 2019-04-08 13:30:01-->
    DELETE FROM store_inspection_rectify WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <update id="update" parameterType="com.ddmc.kanban.model.StoreInspectionRectify">
    <!--@mbg.generated 2019-04-08 13:30:01-->
    UPDATE store_inspection_rectify
    <set>
      <if test="inspectionId != null">
        inspection_id = #{inspectionId,jdbcType=INTEGER},
      </if>
      <if test="rectifyName != null">
        rectify_name = #{rectifyName,jdbcType=VARCHAR},
      </if>
      <if test="rectifyPerson != null">
        rectify_person = #{rectifyPerson,jdbcType=VARCHAR},
      </if>
      <if test="rectifyDate != null">
        rectify_date = #{rectifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rectifyContent != null">
        rectify_content = #{rectifyContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
</mapper>