<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddmc.kanban.dao.ToolDisinfectionDao">
  <resultMap id="BaseResultMap" type="com.ddmc.kanban.model.ToolDisinfection">
    <!--@mbg.generated 2019-04-02 19:33:35-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="store_id" jdbcType="INTEGER" property="storeId" />
    <result column="date" jdbcType="INTEGER" property="date" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated 2019-04-02 19:33:35-->
    id, store_id, date, operator, create_time, update_time
  </sql>
  <insert id="insert" parameterType="com.ddmc.kanban.model.ToolDisinfection">
    <!--@mbg.generated 2019-04-02 19:33:35-->
    INSERT INTO tool_disinfection (
      store_id, date, operator, create_time, update_time
    ) VALUES (  
      #{storeId,jdbcType=INTEGER}, #{date,jdbcType=INTEGER}, #{operator,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
    )
  </insert>
  <insert id="insertList" parameterType="java.util.List">
    <!--@mbg.generated 2019-04-02 19:33:35-->
    INSERT INTO tool_disinfection (
      store_id, date, operator, create_time, update_time
    ) VALUES 
    <foreach collection="list" index="index" item="item" separator=",">
      (
        #{item.storeId,jdbcType=INTEGER}, #{item.date,jdbcType=INTEGER}, #{item.operator,jdbcType=VARCHAR}, 
        #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-02 19:33:35-->
    SELECT <include refid="Base_Column_List"/> FROM tool_disinfection WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectOne" parameterType="com.ddmc.kanban.model.ToolDisinfection" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-02 19:33:35-->
    SELECT <include refid="Base_Column_List"/> FROM tool_disinfection
    <where>
      <if test="storeId != null">
        AND store_id = #{storeId,jdbcType=INTEGER}
      </if>
      <if test="date != null">
        AND date = #{date,jdbcType=INTEGER}
      </if>
      <if test="operator != null">
        AND operator = #{operator,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      LIMIT 1
    </where>
  </select>
  <select id="selectList" parameterType="com.ddmc.kanban.model.ToolDisinfection" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-02 19:33:35-->
    SELECT <include refid="Base_Column_List"/> FROM tool_disinfection
    <where>
      <if test="storeId != null">
        AND store_id = #{storeId,jdbcType=INTEGER}
      </if>
      <if test="date != null">
        AND date = #{date,jdbcType=INTEGER}
      </if>
      <if test="operator != null">
        AND operator = #{operator,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-02 19:33:35-->
    SELECT <include refid="Base_Column_List"/> FROM tool_disinfection
  </select>
  <select id="count" parameterType="com.ddmc.kanban.model.ToolDisinfection" resultType="java.lang.Long">
    <!--@mbg.generated 2019-04-02 19:33:35-->
    SELECT count(1) FROM tool_disinfection
    <where>
      <if test="id != null">
        AND id=#{id,jdbcType=INTEGER}
      </if>
      <if test="storeId != null">
        AND store_id=#{storeId,jdbcType=INTEGER}
      </if>
      <if test="date != null">
        AND date=#{date,jdbcType=INTEGER}
      </if>
      <if test="operator != null">
        AND operator=#{operator,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        AND create_time=#{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time=#{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer">
    <!--@mbg.generated 2019-04-02 19:33:35-->
    DELETE FROM tool_disinfection WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <update id="update" parameterType="com.ddmc.kanban.model.ToolDisinfection">
    <!--@mbg.generated 2019-04-02 19:33:35-->
    UPDATE tool_disinfection
    <set>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=INTEGER},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
</mapper>