<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddmc.kanban.dao.ToolDisinfectionItemDao">
  <resultMap id="BaseResultMap" type="com.ddmc.kanban.model.ToolDisinfectionItem">
    <!--@mbg.generated 2019-04-03 13:37:28-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tool_disinfection_id" jdbcType="INTEGER" property="toolDisinfectionId" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="tool_name" jdbcType="VARCHAR" property="toolName" />
    <result column="tool_num" jdbcType="INTEGER" property="toolNum" />
    <result column="disinfection_way" jdbcType="VARCHAR" property="disinfectionWay" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated 2019-04-03 13:37:28-->
    id, tool_disinfection_id, operator, tool_name, tool_num, disinfection_way, create_time, 
    update_time
  </sql>
  <insert id="insert" parameterType="com.ddmc.kanban.model.ToolDisinfectionItem">
    <!--@mbg.generated 2019-04-03 13:37:28-->
    INSERT INTO tool_disinfection_item (
      tool_disinfection_id, operator, tool_name, tool_num, disinfection_way, create_time, 
      update_time
    ) VALUES (  
      #{toolDisinfectionId,jdbcType=INTEGER}, #{operator,jdbcType=VARCHAR}, #{toolName,jdbcType=VARCHAR}, 
      #{toolNum,jdbcType=INTEGER}, #{disinfectionWay,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}
    )
  </insert>
  <insert id="insertList" parameterType="java.util.List">
    <!--@mbg.generated 2019-04-03 13:37:28-->
    INSERT INTO tool_disinfection_item (
      tool_disinfection_id, operator, tool_name, tool_num, disinfection_way, create_time, 
      update_time
    ) VALUES 
    <foreach collection="list" index="index" item="item" separator=",">
      (
        #{item.toolDisinfectionId,jdbcType=INTEGER}, #{item.operator,jdbcType=VARCHAR}, 
        #{item.toolName,jdbcType=VARCHAR}, #{item.toolNum,jdbcType=INTEGER}, #{item.disinfectionWay,jdbcType=VARCHAR}, 
        #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-03 13:37:28-->
    SELECT <include refid="Base_Column_List" /> FROM tool_disinfection_item WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectOne" parameterType="com.ddmc.kanban.model.ToolDisinfectionItem" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-03 13:37:28-->
    SELECT <include refid="Base_Column_List" /> FROM tool_disinfection_item
    <where>
      <if test="toolDisinfectionId != null">
        AND tool_disinfection_id = #{toolDisinfectionId,jdbcType=INTEGER}
      </if>
      <if test="operator != null">
        AND operator = #{operator,jdbcType=VARCHAR}
      </if>
      <if test="toolName != null">
        AND tool_name = #{toolName,jdbcType=VARCHAR}
      </if>
      <if test="toolNum != null">
        AND tool_num = #{toolNum,jdbcType=INTEGER}
      </if>
      <if test="disinfectionWay != null">
        AND disinfection_way = #{disinfectionWay,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      LIMIT 1
    </where>
  </select>
  <select id="selectList" parameterType="com.ddmc.kanban.model.ToolDisinfectionItem" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-03 13:37:28-->
    SELECT <include refid="Base_Column_List" /> FROM tool_disinfection_item
    <where>
      <if test="toolDisinfectionId != null">
        AND tool_disinfection_id = #{toolDisinfectionId,jdbcType=INTEGER}
      </if>
      <if test="operator != null">
        AND operator = #{operator,jdbcType=VARCHAR}
      </if>
      <if test="toolName != null">
        AND tool_name = #{toolName,jdbcType=VARCHAR}
      </if>
      <if test="toolNum != null">
        AND tool_num = #{toolNum,jdbcType=INTEGER}
      </if>
      <if test="disinfectionWay != null">
        AND disinfection_way = #{disinfectionWay,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-03 13:37:28-->
    SELECT <include refid="Base_Column_List" /> FROM tool_disinfection_item
  </select>
  <select id="count" parameterType="com.ddmc.kanban.model.ToolDisinfectionItem" resultType="java.lang.Long">
    <!--@mbg.generated 2019-04-03 13:37:28-->
    SELECT count(1) FROM tool_disinfection_item
    <where>
      <if test="id != null">
        AND id=#{id,jdbcType=INTEGER}
      </if>
      <if test="toolDisinfectionId != null">
        AND tool_disinfection_id=#{toolDisinfectionId,jdbcType=INTEGER}
      </if>
      <if test="operator != null">
        AND operator=#{operator,jdbcType=VARCHAR}
      </if>
      <if test="toolName != null">
        AND tool_name=#{toolName,jdbcType=VARCHAR}
      </if>
      <if test="toolNum != null">
        AND tool_num=#{toolNum,jdbcType=INTEGER}
      </if>
      <if test="disinfectionWay != null">
        AND disinfection_way=#{disinfectionWay,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        AND create_time=#{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time=#{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer">
    <!--@mbg.generated 2019-04-03 13:37:28-->
    DELETE FROM tool_disinfection_item WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <update id="update" parameterType="com.ddmc.kanban.model.ToolDisinfectionItem">
    <!--@mbg.generated 2019-04-03 13:37:28-->
    UPDATE tool_disinfection_item
    <set>
      <if test="toolDisinfectionId != null">
        tool_disinfection_id = #{toolDisinfectionId,jdbcType=INTEGER},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="toolName != null">
        tool_name = #{toolName,jdbcType=VARCHAR},
      </if>
      <if test="toolNum != null">
        tool_num = #{toolNum,jdbcType=INTEGER},
      </if>
      <if test="disinfectionWay != null">
        disinfection_way = #{disinfectionWay,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
</mapper>