<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddmc.kanban.dao.kanban.ToolDisinfectionDictDao">
  <resultMap id="BaseResultMap" type="com.ddmc.kanban.model.ToolDisinfectionDict">
    <!--@mbg.generated 2019-04-03 20:07:31-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated 2019-04-03 20:07:31-->
    id, name, is_delete, create_time
  </sql>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ddmc.kanban.model.ToolDisinfectionDict" useGeneratedKeys="true">
    <!--@mbg.generated 2019-04-03 20:07:31-->
    INSERT INTO tool_disinfection_dict (
      name, is_delete, create_time
    ) VALUES (  
      #{name,jdbcType=VARCHAR}, #{isDelete,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
    )
  </insert>
  <insert id="insertList" parameterType="java.util.List">
    <!--@mbg.generated 2019-04-03 20:07:31-->
    INSERT INTO tool_disinfection_dict (
      name, is_delete, create_time
    ) VALUES 
    <foreach collection="list" index="index" item="item" separator=",">
      (
        #{item.name,jdbcType=VARCHAR}, #{item.isDelete,jdbcType=INTEGER}, #{item.createTime,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-03 20:07:31-->
    SELECT <include refid="Base_Column_List"/> FROM tool_disinfection_dict WHERE id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectOne" parameterType="com.ddmc.kanban.model.ToolDisinfectionDict" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-03 20:07:31-->
    SELECT <include refid="Base_Column_List"/> FROM tool_disinfection_dict
    <where>
      <if test="name != null">
        AND name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="isDelete != null">
        AND is_delete = #{isDelete,jdbcType=INTEGER}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      LIMIT 1
    </where>
  </select>
  <select id="selectList" parameterType="com.ddmc.kanban.model.ToolDisinfectionDict" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-03 20:07:31-->
    SELECT <include refid="Base_Column_List"/> FROM tool_disinfection_dict
    <where>
      <if test="name != null">
        AND name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="isDelete != null">
        AND is_delete = #{isDelete,jdbcType=INTEGER}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-03 20:07:31-->
    SELECT <include refid="Base_Column_List"/> FROM tool_disinfection_dict
  </select>
  <select id="count" parameterType="com.ddmc.kanban.model.ToolDisinfectionDict" resultType="java.lang.Long">
    <!--@mbg.generated 2019-04-03 20:07:31-->
    SELECT count(1) FROM tool_disinfection_dict
    <where>
      <if test="id != null">
        AND id=#{id,jdbcType=BIGINT}
      </if>
      <if test="name != null">
        AND name=#{name,jdbcType=VARCHAR}
      </if>
      <if test="isDelete != null">
        AND is_delete=#{isDelete,jdbcType=INTEGER}
      </if>
      <if test="createTime != null">
        AND create_time=#{createTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <delete id="deleteById" parameterType="java.lang.Long">
    <!--@mbg.generated 2019-04-03 20:07:31-->
    DELETE FROM tool_disinfection_dict WHERE id = #{id,jdbcType=BIGINT}
  </delete>
  <update id="update" parameterType="com.ddmc.kanban.model.ToolDisinfectionDict">
    <!--@mbg.generated 2019-04-03 20:07:31-->
    UPDATE tool_disinfection_dict
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE id = #{id,jdbcType=BIGINT}
  </update>
</mapper>