<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddmc.reconciliation.dao.FinanceBillOrderDetailDao">
  <resultMap id="BaseResultMap" type="com.ddmc.reconciliation.model.FinanceBillOrderDetail">
    <!--@mbg.generated 2019-04-29 16:56:05-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="biz_id" jdbcType="INTEGER" property="bizId" />
    <result column="finance_biz_id" jdbcType="VARCHAR" property="financeBizId" />
    <result column="finance_biz_type" jdbcType="TINYINT" property="financeBizType" />
    <result column="finance_biz_subtype" jdbcType="TINYINT" property="financeBizSubtype" />
    <result column="finance_biz_status" jdbcType="TINYINT" property="financeBizStatus" />
    <result column="finance_biz_amount" jdbcType="DECIMAL" property="financeBizAmount" />
    <result column="finance_biz_finish_time" jdbcType="TIMESTAMP" property="financeBizFinishTime" />
    <result column="vendor_id" jdbcType="INTEGER" property="vendorId" />
    <result column="vendor_name" jdbcType="VARCHAR" property="vendorName" />
    <result column="vendor_status" jdbcType="TINYINT" property="vendorStatus" />
    <result column="vendor_resp_groups" jdbcType="VARCHAR" property="vendorRespGroups" />
    <result column="op_status" jdbcType="TINYINT" property="opStatus" />
    <result column="jindie_amount" jdbcType="DECIMAL" property="jindieAmount" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="ddmc_amount" jdbcType="DECIMAL" property="ddmcAmount" />
    <result column="biz_id_subtype" jdbcType="INTEGER" property="bizIdSubtype" />
    <result column="sync" jdbcType="BIGINT" property="sync" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated 2019-04-29 16:56:05-->
    id, status, biz_id, finance_biz_id, finance_biz_type, finance_biz_subtype, finance_biz_status, 
    finance_biz_amount, finance_biz_finish_time, vendor_id, vendor_name, vendor_status, 
    vendor_resp_groups, op_status, jindie_amount, balance, ddmc_amount, biz_id_subtype, 
    sync, create_time, update_time
  </sql>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ddmc.reconciliation.model.FinanceBillOrderDetail" useGeneratedKeys="true">
    <!--@mbg.generated 2019-04-29 16:56:05-->
    INSERT INTO finance_bill_order_detail (
      status, biz_id, finance_biz_id, finance_biz_type, finance_biz_subtype, finance_biz_status, 
      finance_biz_amount, finance_biz_finish_time, vendor_id, vendor_name, vendor_status, 
      vendor_resp_groups, op_status, jindie_amount, balance, ddmc_amount, biz_id_subtype, 
      sync, create_time, update_time
    ) VALUES (  
      #{status,jdbcType=TINYINT}, #{bizId,jdbcType=INTEGER}, #{financeBizId,jdbcType=VARCHAR}, 
      #{financeBizType,jdbcType=TINYINT}, #{financeBizSubtype,jdbcType=TINYINT}, #{financeBizStatus,jdbcType=TINYINT}, 
      #{financeBizAmount,jdbcType=DECIMAL}, #{financeBizFinishTime,jdbcType=TIMESTAMP}, 
      #{vendorId,jdbcType=INTEGER}, #{vendorName,jdbcType=VARCHAR}, #{vendorStatus,jdbcType=TINYINT}, 
      #{vendorRespGroups,jdbcType=VARCHAR}, #{opStatus,jdbcType=TINYINT}, #{jindieAmount,jdbcType=DECIMAL}, 
      #{balance,jdbcType=DECIMAL}, #{ddmcAmount,jdbcType=DECIMAL}, #{bizIdSubtype,jdbcType=INTEGER}, 
      #{sync,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
    )
  </insert>
  <insert id="insertList" parameterType="java.util.List">
    <!--@mbg.generated 2019-04-29 16:56:05-->
    INSERT INTO finance_bill_order_detail (
      status, biz_id, finance_biz_id, finance_biz_type, finance_biz_subtype, finance_biz_status, 
      finance_biz_amount, finance_biz_finish_time, vendor_id, vendor_name, vendor_status, 
      vendor_resp_groups, op_status, jindie_amount, balance, ddmc_amount, biz_id_subtype, 
      sync, create_time, update_time
    ) VALUES 
    <foreach collection="list" index="index" item="item" separator=",">
      (
        #{item.status,jdbcType=TINYINT}, #{item.bizId,jdbcType=INTEGER}, #{item.financeBizId,jdbcType=VARCHAR}, 
        #{item.financeBizType,jdbcType=TINYINT}, #{item.financeBizSubtype,jdbcType=TINYINT}, 
        #{item.financeBizStatus,jdbcType=TINYINT}, #{item.financeBizAmount,jdbcType=DECIMAL}, 
        #{item.financeBizFinishTime,jdbcType=TIMESTAMP}, #{item.vendorId,jdbcType=INTEGER}, 
        #{item.vendorName,jdbcType=VARCHAR}, #{item.vendorStatus,jdbcType=TINYINT}, #{item.vendorRespGroups,jdbcType=VARCHAR}, 
        #{item.opStatus,jdbcType=TINYINT}, #{item.jindieAmount,jdbcType=DECIMAL}, #{item.balance,jdbcType=DECIMAL}, 
        #{item.ddmcAmount,jdbcType=DECIMAL}, #{item.bizIdSubtype,jdbcType=INTEGER}, #{item.sync,jdbcType=BIGINT}, 
        #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-29 16:56:05-->
    SELECT <include refid="Base_Column_List" /> FROM finance_bill_order_detail WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectOne" parameterType="com.ddmc.reconciliation.model.FinanceBillOrderDetail" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-29 16:56:05-->
    SELECT <include refid="Base_Column_List" /> FROM finance_bill_order_detail
    <where>
      <if test="status != null">
        AND status = #{status,jdbcType=TINYINT}
      </if>
      <if test="bizId != null">
        AND biz_id = #{bizId,jdbcType=INTEGER}
      </if>
      <if test="financeBizId != null">
        AND finance_biz_id = #{financeBizId,jdbcType=VARCHAR}
      </if>
      <if test="financeBizType != null">
        AND finance_biz_type = #{financeBizType,jdbcType=TINYINT}
      </if>
      <if test="financeBizSubtype != null">
        AND finance_biz_subtype = #{financeBizSubtype,jdbcType=TINYINT}
      </if>
      <if test="financeBizStatus != null">
        AND finance_biz_status = #{financeBizStatus,jdbcType=TINYINT}
      </if>
      <if test="financeBizAmount != null">
        AND finance_biz_amount = #{financeBizAmount,jdbcType=DECIMAL}
      </if>
      <if test="financeBizFinishTime != null">
        AND finance_biz_finish_time = #{financeBizFinishTime,jdbcType=TIMESTAMP}
      </if>
      <if test="vendorId != null">
        AND vendor_id = #{vendorId,jdbcType=INTEGER}
      </if>
      <if test="vendorName != null">
        AND vendor_name = #{vendorName,jdbcType=VARCHAR}
      </if>
      <if test="vendorStatus != null">
        AND vendor_status = #{vendorStatus,jdbcType=TINYINT}
      </if>
      <if test="vendorRespGroups != null">
        AND vendor_resp_groups = #{vendorRespGroups,jdbcType=VARCHAR}
      </if>
      <if test="opStatus != null">
        AND op_status = #{opStatus,jdbcType=TINYINT}
      </if>
      <if test="jindieAmount != null">
        AND jindie_amount = #{jindieAmount,jdbcType=DECIMAL}
      </if>
      <if test="balance != null">
        AND balance = #{balance,jdbcType=DECIMAL}
      </if>
      <if test="ddmcAmount != null">
        AND ddmc_amount = #{ddmcAmount,jdbcType=DECIMAL}
      </if>
      <if test="bizIdSubtype != null">
        AND biz_id_subtype = #{bizIdSubtype,jdbcType=INTEGER}
      </if>
      <if test="sync != null">
        AND sync = #{sync,jdbcType=BIGINT}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      LIMIT 1
    </where>
  </select>
  <select id="selectList" parameterType="com.ddmc.reconciliation.model.FinanceBillOrderDetail" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-29 16:56:05-->
    SELECT <include refid="Base_Column_List" /> FROM finance_bill_order_detail
    <where>
      <if test="status != null">
        AND status = #{status,jdbcType=TINYINT}
      </if>
      <if test="bizId != null">
        AND biz_id = #{bizId,jdbcType=INTEGER}
      </if>
      <if test="financeBizId != null">
        AND finance_biz_id = #{financeBizId,jdbcType=VARCHAR}
      </if>
      <if test="financeBizType != null">
        AND finance_biz_type = #{financeBizType,jdbcType=TINYINT}
      </if>
      <if test="financeBizSubtype != null">
        AND finance_biz_subtype = #{financeBizSubtype,jdbcType=TINYINT}
      </if>
      <if test="financeBizStatus != null">
        AND finance_biz_status = #{financeBizStatus,jdbcType=TINYINT}
      </if>
      <if test="financeBizAmount != null">
        AND finance_biz_amount = #{financeBizAmount,jdbcType=DECIMAL}
      </if>
      <if test="financeBizFinishTime != null">
        AND finance_biz_finish_time = #{financeBizFinishTime,jdbcType=TIMESTAMP}
      </if>
      <if test="vendorId != null">
        AND vendor_id = #{vendorId,jdbcType=INTEGER}
      </if>
      <if test="vendorName != null">
        AND vendor_name = #{vendorName,jdbcType=VARCHAR}
      </if>
      <if test="vendorStatus != null">
        AND vendor_status = #{vendorStatus,jdbcType=TINYINT}
      </if>
      <if test="vendorRespGroups != null">
        AND vendor_resp_groups = #{vendorRespGroups,jdbcType=VARCHAR}
      </if>
      <if test="opStatus != null">
        AND op_status = #{opStatus,jdbcType=TINYINT}
      </if>
      <if test="jindieAmount != null">
        AND jindie_amount = #{jindieAmount,jdbcType=DECIMAL}
      </if>
      <if test="balance != null">
        AND balance = #{balance,jdbcType=DECIMAL}
      </if>
      <if test="ddmcAmount != null">
        AND ddmc_amount = #{ddmcAmount,jdbcType=DECIMAL}
      </if>
      <if test="bizIdSubtype != null">
        AND biz_id_subtype = #{bizIdSubtype,jdbcType=INTEGER}
      </if>
      <if test="sync != null">
        AND sync = #{sync,jdbcType=BIGINT}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-29 16:56:05-->
    SELECT <include refid="Base_Column_List" /> FROM finance_bill_order_detail
  </select>
  <select id="count" parameterType="com.ddmc.reconciliation.model.FinanceBillOrderDetail" resultType="java.lang.Long">
    <!--@mbg.generated 2019-04-29 16:56:05-->
    SELECT count(1) FROM finance_bill_order_detail
    <where>
      <if test="id != null">
        AND id=#{id,jdbcType=INTEGER}
      </if>
      <if test="status != null">
        AND status=#{status,jdbcType=TINYINT}
      </if>
      <if test="bizId != null">
        AND biz_id=#{bizId,jdbcType=INTEGER}
      </if>
      <if test="financeBizId != null">
        AND finance_biz_id=#{financeBizId,jdbcType=VARCHAR}
      </if>
      <if test="financeBizType != null">
        AND finance_biz_type=#{financeBizType,jdbcType=TINYINT}
      </if>
      <if test="financeBizSubtype != null">
        AND finance_biz_subtype=#{financeBizSubtype,jdbcType=TINYINT}
      </if>
      <if test="financeBizStatus != null">
        AND finance_biz_status=#{financeBizStatus,jdbcType=TINYINT}
      </if>
      <if test="financeBizAmount != null">
        AND finance_biz_amount=#{financeBizAmount,jdbcType=DECIMAL}
      </if>
      <if test="financeBizFinishTime != null">
        AND finance_biz_finish_time=#{financeBizFinishTime,jdbcType=TIMESTAMP}
      </if>
      <if test="vendorId != null">
        AND vendor_id=#{vendorId,jdbcType=INTEGER}
      </if>
      <if test="vendorName != null">
        AND vendor_name=#{vendorName,jdbcType=VARCHAR}
      </if>
      <if test="vendorStatus != null">
        AND vendor_status=#{vendorStatus,jdbcType=TINYINT}
      </if>
      <if test="vendorRespGroups != null">
        AND vendor_resp_groups=#{vendorRespGroups,jdbcType=VARCHAR}
      </if>
      <if test="opStatus != null">
        AND op_status=#{opStatus,jdbcType=TINYINT}
      </if>
      <if test="jindieAmount != null">
        AND jindie_amount=#{jindieAmount,jdbcType=DECIMAL}
      </if>
      <if test="balance != null">
        AND balance=#{balance,jdbcType=DECIMAL}
      </if>
      <if test="ddmcAmount != null">
        AND ddmc_amount=#{ddmcAmount,jdbcType=DECIMAL}
      </if>
      <if test="bizIdSubtype != null">
        AND biz_id_subtype=#{bizIdSubtype,jdbcType=INTEGER}
      </if>
      <if test="sync != null">
        AND sync=#{sync,jdbcType=BIGINT}
      </if>
      <if test="createTime != null">
        AND create_time=#{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time=#{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer">
    <!--@mbg.generated 2019-04-29 16:56:05-->
    DELETE FROM finance_bill_order_detail WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <update id="update" parameterType="com.ddmc.reconciliation.model.FinanceBillOrderDetail">
    <!--@mbg.generated 2019-04-29 16:56:05-->
    UPDATE finance_bill_order_detail
    <set>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="bizId != null">
        biz_id = #{bizId,jdbcType=INTEGER},
      </if>
      <if test="financeBizId != null">
        finance_biz_id = #{financeBizId,jdbcType=VARCHAR},
      </if>
      <if test="financeBizType != null">
        finance_biz_type = #{financeBizType,jdbcType=TINYINT},
      </if>
      <if test="financeBizSubtype != null">
        finance_biz_subtype = #{financeBizSubtype,jdbcType=TINYINT},
      </if>
      <if test="financeBizStatus != null">
        finance_biz_status = #{financeBizStatus,jdbcType=TINYINT},
      </if>
      <if test="financeBizAmount != null">
        finance_biz_amount = #{financeBizAmount,jdbcType=DECIMAL},
      </if>
      <if test="financeBizFinishTime != null">
        finance_biz_finish_time = #{financeBizFinishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="vendorId != null">
        vendor_id = #{vendorId,jdbcType=INTEGER},
      </if>
      <if test="vendorName != null">
        vendor_name = #{vendorName,jdbcType=VARCHAR},
      </if>
      <if test="vendorStatus != null">
        vendor_status = #{vendorStatus,jdbcType=TINYINT},
      </if>
      <if test="vendorRespGroups != null">
        vendor_resp_groups = #{vendorRespGroups,jdbcType=VARCHAR},
      </if>
      <if test="opStatus != null">
        op_status = #{opStatus,jdbcType=TINYINT},
      </if>
      <if test="jindieAmount != null">
        jindie_amount = #{jindieAmount,jdbcType=DECIMAL},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="ddmcAmount != null">
        ddmc_amount = #{ddmcAmount,jdbcType=DECIMAL},
      </if>
      <if test="bizIdSubtype != null">
        biz_id_subtype = #{bizIdSubtype,jdbcType=INTEGER},
      </if>
      <if test="sync != null">
        sync = #{sync,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
</mapper>