<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddmc.reconciliation.dao.FinanceBillVendorListDao">
  <resultMap id="BaseResultMap" type="com.ddmc.reconciliation.model.FinanceBillVendorList">
    <!--@mbg.generated 2019-04-28 14:34:30-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="vendor_id" jdbcType="INTEGER" property="vendorId" />
    <result column="vendor_name" jdbcType="VARCHAR" property="vendorName" />
    <result column="vendor_status" jdbcType="TINYINT" property="vendorStatus" />
    <result column="vendor_resp_groups" jdbcType="VARCHAR" property="vendorRespGroups" />
    <result column="ddmc_amount" jdbcType="DECIMAL" property="ddmcAmount" />
    <result column="jindie_amount" jdbcType="DECIMAL" property="jindieAmount" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="op_status" jdbcType="TINYINT" property="opStatus" />
    <result column="sync" jdbcType="BIGINT" property="sync" />
    <result column="crearte_time" jdbcType="TIMESTAMP" property="crearteTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated 2019-04-28 14:34:30-->
    id, vendor_id, vendor_name, vendor_status, vendor_resp_groups, ddmc_amount, jindie_amount, 
    balance, op_status, sync, crearte_time, update_time
  </sql>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ddmc.reconciliation.model.FinanceBillVendorList" useGeneratedKeys="true">
    <!--@mbg.generated 2019-04-28 14:34:30-->
    INSERT INTO finance_bill_vendor_list (
      vendor_id, vendor_name, vendor_status, vendor_resp_groups, ddmc_amount, jindie_amount, 
      balance, op_status, sync, crearte_time, update_time
    ) VALUES (  
      #{vendorId,jdbcType=INTEGER}, #{vendorName,jdbcType=VARCHAR}, #{vendorStatus,jdbcType=TINYINT}, 
      #{vendorRespGroups,jdbcType=VARCHAR}, #{ddmcAmount,jdbcType=DECIMAL}, #{jindieAmount,jdbcType=DECIMAL}, 
      #{balance,jdbcType=DECIMAL}, #{opStatus,jdbcType=TINYINT}, #{sync,jdbcType=BIGINT}, 
      #{crearteTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
    )
  </insert>
  <insert id="insertList" parameterType="java.util.List">
    <!--@mbg.generated 2019-04-28 14:34:30-->
    INSERT INTO finance_bill_vendor_list (
      vendor_id, vendor_name, vendor_status, vendor_resp_groups, ddmc_amount, jindie_amount, 
      balance, op_status, sync, crearte_time, update_time
    ) VALUES 
    <foreach collection="list" index="index" item="item" separator=",">
      (
        #{item.vendorId,jdbcType=INTEGER}, #{item.vendorName,jdbcType=VARCHAR}, #{item.vendorStatus,jdbcType=TINYINT}, 
        #{item.vendorRespGroups,jdbcType=VARCHAR}, #{item.ddmcAmount,jdbcType=DECIMAL}, 
        #{item.jindieAmount,jdbcType=DECIMAL}, #{item.balance,jdbcType=DECIMAL}, #{item.opStatus,jdbcType=TINYINT}, 
        #{item.sync,jdbcType=BIGINT}, #{item.crearteTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-28 14:34:30-->
    SELECT <include refid="Base_Column_List" /> FROM finance_bill_vendor_list WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectOne" parameterType="com.ddmc.reconciliation.model.FinanceBillVendorList" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-28 14:34:30-->
    SELECT <include refid="Base_Column_List" /> FROM finance_bill_vendor_list
    <where>
      <if test="vendorId != null">
        AND vendor_id = #{vendorId,jdbcType=INTEGER}
      </if>
      <if test="vendorName != null">
        AND vendor_name = #{vendorName,jdbcType=VARCHAR}
      </if>
      <if test="vendorStatus != null">
        AND vendor_status = #{vendorStatus,jdbcType=TINYINT}
      </if>
      <if test="vendorRespGroups != null">
        AND vendor_resp_groups = #{vendorRespGroups,jdbcType=VARCHAR}
      </if>
      <if test="ddmcAmount != null">
        AND ddmc_amount = #{ddmcAmount,jdbcType=DECIMAL}
      </if>
      <if test="jindieAmount != null">
        AND jindie_amount = #{jindieAmount,jdbcType=DECIMAL}
      </if>
      <if test="balance != null">
        AND balance = #{balance,jdbcType=DECIMAL}
      </if>
      <if test="opStatus != null">
        AND op_status = #{opStatus,jdbcType=TINYINT}
      </if>
      <if test="sync != null">
        AND sync = #{sync,jdbcType=BIGINT}
      </if>
      <if test="crearteTime != null">
        AND crearte_time = #{crearteTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      LIMIT 1
    </where>
  </select>
  <select id="selectList" parameterType="com.ddmc.reconciliation.model.FinanceBillVendorList" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-28 14:34:30-->
    SELECT <include refid="Base_Column_List" /> FROM finance_bill_vendor_list
    <where>
      <if test="vendorId != null">
        AND vendor_id = #{vendorId,jdbcType=INTEGER}
      </if>
      <if test="vendorName != null">
        AND vendor_name = #{vendorName,jdbcType=VARCHAR}
      </if>
      <if test="vendorStatus != null">
        AND vendor_status = #{vendorStatus,jdbcType=TINYINT}
      </if>
      <if test="vendorRespGroups != null">
        AND vendor_resp_groups = #{vendorRespGroups,jdbcType=VARCHAR}
      </if>
      <if test="ddmcAmount != null">
        AND ddmc_amount = #{ddmcAmount,jdbcType=DECIMAL}
      </if>
      <if test="jindieAmount != null">
        AND jindie_amount = #{jindieAmount,jdbcType=DECIMAL}
      </if>
      <if test="balance != null">
        AND balance = #{balance,jdbcType=DECIMAL}
      </if>
      <if test="opStatus != null">
        AND op_status = #{opStatus,jdbcType=TINYINT}
      </if>
      <if test="sync != null">
        AND sync = #{sync,jdbcType=BIGINT}
      </if>
      <if test="crearteTime != null">
        AND crearte_time = #{crearteTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-28 14:34:30-->
    SELECT <include refid="Base_Column_List" /> FROM finance_bill_vendor_list
  </select>
  <select id="count" parameterType="com.ddmc.reconciliation.model.FinanceBillVendorList" resultType="java.lang.Long">
    <!--@mbg.generated 2019-04-28 14:34:30-->
    SELECT count(1) FROM finance_bill_vendor_list
    <where>
      <if test="id != null">
        AND id=#{id,jdbcType=INTEGER}
      </if>
      <if test="vendorId != null">
        AND vendor_id=#{vendorId,jdbcType=INTEGER}
      </if>
      <if test="vendorName != null">
        AND vendor_name=#{vendorName,jdbcType=VARCHAR}
      </if>
      <if test="vendorStatus != null">
        AND vendor_status=#{vendorStatus,jdbcType=TINYINT}
      </if>
      <if test="vendorRespGroups != null">
        AND vendor_resp_groups=#{vendorRespGroups,jdbcType=VARCHAR}
      </if>
      <if test="ddmcAmount != null">
        AND ddmc_amount=#{ddmcAmount,jdbcType=DECIMAL}
      </if>
      <if test="jindieAmount != null">
        AND jindie_amount=#{jindieAmount,jdbcType=DECIMAL}
      </if>
      <if test="balance != null">
        AND balance=#{balance,jdbcType=DECIMAL}
      </if>
      <if test="opStatus != null">
        AND op_status=#{opStatus,jdbcType=TINYINT}
      </if>
      <if test="sync != null">
        AND sync=#{sync,jdbcType=BIGINT}
      </if>
      <if test="crearteTime != null">
        AND crearte_time=#{crearteTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time=#{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer">
    <!--@mbg.generated 2019-04-28 14:34:30-->
    DELETE FROM finance_bill_vendor_list WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <update id="update" parameterType="com.ddmc.reconciliation.model.FinanceBillVendorList">
    <!--@mbg.generated 2019-04-28 14:34:30-->
    UPDATE finance_bill_vendor_list
    <set>
      <if test="vendorId != null">
        vendor_id = #{vendorId,jdbcType=INTEGER},
      </if>
      <if test="vendorName != null">
        vendor_name = #{vendorName,jdbcType=VARCHAR},
      </if>
      <if test="vendorStatus != null">
        vendor_status = #{vendorStatus,jdbcType=TINYINT},
      </if>
      <if test="vendorRespGroups != null">
        vendor_resp_groups = #{vendorRespGroups,jdbcType=VARCHAR},
      </if>
      <if test="ddmcAmount != null">
        ddmc_amount = #{ddmcAmount,jdbcType=DECIMAL},
      </if>
      <if test="jindieAmount != null">
        jindie_amount = #{jindieAmount,jdbcType=DECIMAL},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="opStatus != null">
        op_status = #{opStatus,jdbcType=TINYINT},
      </if>
      <if test="sync != null">
        sync = #{sync,jdbcType=BIGINT},
      </if>
      <if test="crearteTime != null">
        crearte_time = #{crearteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
</mapper>