<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddmc.reconciliation.dao.FinanceBillRemarkDao">
  <resultMap id="BaseResultMap" type="com.ddmc.reconciliation.model.FinanceBillRemark">
    <!--@mbg.generated 2019-04-26 19:11:15-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="source_id" jdbcType="BIGINT" property="sourceId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="operator" jdbcType="BIGINT" property="operator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated 2019-04-26 19:11:15-->
    id, source_id, type, remark, operator, create_time, update_time
  </sql>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ddmc.reconciliation.model.FinanceBillRemark" useGeneratedKeys="true">
    <!--@mbg.generated 2019-04-26 19:11:15-->
    INSERT INTO finance_bill_remark (
      source_id, type, remark, operator, create_time, update_time
    ) VALUES (  
      #{sourceId,jdbcType=BIGINT}, #{type,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{operator,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
    )
  </insert>
  <insert id="insertList" parameterType="java.util.List">
    <!--@mbg.generated 2019-04-26 19:11:15-->
    INSERT INTO finance_bill_remark (
      source_id, type, remark, operator, create_time, update_time
    ) VALUES 
    <foreach collection="list" index="index" item="item" separator=",">
      (
        #{item.sourceId,jdbcType=BIGINT}, #{item.type,jdbcType=INTEGER}, #{item.remark,jdbcType=VARCHAR}, 
        #{item.operator,jdbcType=BIGINT}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-26 19:11:15-->
    SELECT <include refid="Base_Column_List"/> FROM finance_bill_remark WHERE id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectOne" parameterType="com.ddmc.reconciliation.model.FinanceBillRemark" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-26 19:11:15-->
    SELECT <include refid="Base_Column_List"/> FROM finance_bill_remark
    <where>
      <if test="sourceId != null">
        AND source_id = #{sourceId,jdbcType=BIGINT}
      </if>
      <if test="type != null">
        AND type = #{type,jdbcType=INTEGER}
      </if>
      <if test="remark != null">
        AND remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="operator != null">
        AND operator = #{operator,jdbcType=BIGINT}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      LIMIT 1
    </where>
  </select>
  <select id="selectList" parameterType="com.ddmc.reconciliation.model.FinanceBillRemark" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-26 19:11:15-->
    SELECT <include refid="Base_Column_List"/> FROM finance_bill_remark
    <where>
      <if test="sourceId != null">
        AND source_id = #{sourceId,jdbcType=BIGINT}
      </if>
      <if test="type != null">
        AND type = #{type,jdbcType=INTEGER}
      </if>
      <if test="remark != null">
        AND remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="operator != null">
        AND operator = #{operator,jdbcType=BIGINT}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-26 19:11:15-->
    SELECT <include refid="Base_Column_List"/> FROM finance_bill_remark
  </select>
  <select id="count" parameterType="com.ddmc.reconciliation.model.FinanceBillRemark" resultType="java.lang.Long">
    <!--@mbg.generated 2019-04-26 19:11:15-->
    SELECT count(1) FROM finance_bill_remark
    <where>
      <if test="id != null">
        AND id=#{id,jdbcType=BIGINT}
      </if>
      <if test="sourceId != null">
        AND source_id=#{sourceId,jdbcType=BIGINT}
      </if>
      <if test="type != null">
        AND type=#{type,jdbcType=INTEGER}
      </if>
      <if test="remark != null">
        AND remark=#{remark,jdbcType=VARCHAR}
      </if>
      <if test="operator != null">
        AND operator=#{operator,jdbcType=BIGINT}
      </if>
      <if test="createTime != null">
        AND create_time=#{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time=#{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <delete id="deleteById" parameterType="java.lang.Long">
    <!--@mbg.generated 2019-04-26 19:11:15-->
    DELETE FROM finance_bill_remark WHERE id = #{id,jdbcType=BIGINT}
  </delete>
  <update id="update" parameterType="com.ddmc.reconciliation.model.FinanceBillRemark">
    <!--@mbg.generated 2019-04-26 19:11:15-->
    UPDATE finance_bill_remark
    <set>
      <if test="sourceId != null">
        source_id = #{sourceId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE id = #{id,jdbcType=BIGINT}
  </update>
</mapper>