<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddmc.reconciliation.dao.scm.PurchaseDao">
  <resultMap id="BaseResultMap" type="com.ddmc.reconciliation.scm.model.Purchase">
    <!--@mbg.generated 2019-04-28 15:23:11-->
    <id column="purchase_id" jdbcType="INTEGER" property="purchaseId" />
    <result column="vendor_id" jdbcType="INTEGER" property="vendorId" />
    <result column="store_id" jdbcType="INTEGER" property="storeId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime" />
    <result column="purchase_title" jdbcType="VARCHAR" property="purchaseTitle" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="draft_time" jdbcType="TIMESTAMP" property="draftTime" />
    <result column="amount_total" jdbcType="DECIMAL" property="amountTotal" />
    <result column="real_amount_total" jdbcType="DECIMAL" property="realAmountTotal" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="finance_status" jdbcType="TINYINT" property="financeStatus" />
    <result column="finance_remark" jdbcType="VARCHAR" property="financeRemark" />
    <result column="finance_time" jdbcType="TIMESTAMP" property="financeTime" />
    <result column="finance_operator" jdbcType="VARCHAR" property="financeOperator" />
    <result column="plan_id" jdbcType="INTEGER" property="planId" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="is_timeout" jdbcType="TINYINT" property="isTimeout" />
    <result column="type_ids" jdbcType="VARCHAR" property="typeIds" />
    <result column="settlement_amount_total" jdbcType="DECIMAL" property="settlementAmountTotal" />
    <result column="communicate_time" jdbcType="TINYINT" property="communicateTime" />
    <result column="temperature" jdbcType="VARCHAR" property="temperature" />
    <result column="car_environment" jdbcType="TINYINT" property="carEnvironment" />
    <result column="quality_control_status" jdbcType="TINYINT" property="qualityControlStatus" />
    <result column="additional_total" jdbcType="DECIMAL" property="additionalTotal" />
    <result column="is_arrival" jdbcType="TINYINT" property="isArrival" />
    <result column="quality_time" jdbcType="TIMESTAMP" property="qualityTime" />
    <result column="receive_operator" jdbcType="VARCHAR" property="receiveOperator" />
    <result column="plan_delivery_time" jdbcType="TIMESTAMP" property="planDeliveryTime" />
    <result column="is_replenishment" jdbcType="TINYINT" property="isReplenishment" />
    <result column="is_weigh_completed" jdbcType="TINYINT" property="isWeighCompleted" />
    <result column="is_prepay" jdbcType="TINYINT" property="isPrepay" />
    <result column="adjustment_amount" jdbcType="DECIMAL" property="adjustmentAmount" />
    <result column="final_settlement_amount" jdbcType="DECIMAL" property="finalSettlementAmount" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
    <result column="products" jdbcType="LONGVARCHAR" property="products" />
    <result column="import_log" jdbcType="LONGVARCHAR" property="importLog" />
    <result column="images" jdbcType="LONGVARCHAR" property="images" />
    <result column="supplier_sign" jdbcType="LONGVARCHAR" property="supplierSign" />
    <result column="additional" jdbcType="LONGVARCHAR" property="additional" />
    <result column="adjustment_amount_detail" jdbcType="LONGVARCHAR" property="adjustmentAmountDetail" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated 2019-04-28 15:23:11-->
    purchase_id, vendor_id, store_id, create_time, delivery_time, purchase_title, status, 
    draft_time, amount_total, real_amount_total, creater, update_time, finance_status, 
    finance_remark, finance_time, finance_operator, plan_id, update_user, is_timeout, 
    type_ids, settlement_amount_total, communicate_time, temperature, car_environment, 
    quality_control_status, additional_total, is_arrival, quality_time, receive_operator, 
    plan_delivery_time, is_replenishment, is_weigh_completed, is_prepay, adjustment_amount, 
    final_settlement_amount, finish_time, products, import_log, images, supplier_sign, 
    additional, adjustment_amount_detail
  </sql>
  <insert id="insert" keyColumn="purchase_id" keyProperty="purchaseId" parameterType="com.ddmc.reconciliation.scm.model.Purchase" useGeneratedKeys="true">
    <!--@mbg.generated 2019-04-28 15:23:11-->
    INSERT INTO purchase (
      vendor_id, store_id, create_time, delivery_time, purchase_title, status, draft_time, 
      amount_total, real_amount_total, creater, update_time, finance_status, finance_remark, 
      finance_time, finance_operator, plan_id, update_user, is_timeout, type_ids, settlement_amount_total, 
      communicate_time, temperature, car_environment, quality_control_status, additional_total, 
      is_arrival, quality_time, receive_operator, plan_delivery_time, is_replenishment, 
      is_weigh_completed, is_prepay, adjustment_amount, final_settlement_amount, finish_time, 
      products, import_log, images, supplier_sign, additional, adjustment_amount_detail
    ) VALUES (  
      #{vendorId,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{deliveryTime,jdbcType=TIMESTAMP}, #{purchaseTitle,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{draftTime,jdbcType=TIMESTAMP}, #{amountTotal,jdbcType=DECIMAL}, #{realAmountTotal,jdbcType=DECIMAL}, 
      #{creater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{financeStatus,jdbcType=TINYINT}, 
      #{financeRemark,jdbcType=VARCHAR}, #{financeTime,jdbcType=TIMESTAMP}, #{financeOperator,jdbcType=VARCHAR}, 
      #{planId,jdbcType=INTEGER}, #{updateUser,jdbcType=VARCHAR}, #{isTimeout,jdbcType=TINYINT}, 
      #{typeIds,jdbcType=VARCHAR}, #{settlementAmountTotal,jdbcType=DECIMAL}, #{communicateTime,jdbcType=TINYINT}, 
      #{temperature,jdbcType=VARCHAR}, #{carEnvironment,jdbcType=TINYINT}, #{qualityControlStatus,jdbcType=TINYINT}, 
      #{additionalTotal,jdbcType=DECIMAL}, #{isArrival,jdbcType=TINYINT}, #{qualityTime,jdbcType=TIMESTAMP}, 
      #{receiveOperator,jdbcType=VARCHAR}, #{planDeliveryTime,jdbcType=TIMESTAMP}, #{isReplenishment,jdbcType=TINYINT}, 
      #{isWeighCompleted,jdbcType=TINYINT}, #{isPrepay,jdbcType=TINYINT}, #{adjustmentAmount,jdbcType=DECIMAL}, 
      #{finalSettlementAmount,jdbcType=DECIMAL}, #{finishTime,jdbcType=TIMESTAMP}, #{products,jdbcType=LONGVARCHAR}, 
      #{importLog,jdbcType=LONGVARCHAR}, #{images,jdbcType=LONGVARCHAR}, #{supplierSign,jdbcType=LONGVARCHAR}, 
      #{additional,jdbcType=LONGVARCHAR}, #{adjustmentAmountDetail,jdbcType=LONGVARCHAR}
    )
  </insert>
  <insert id="insertList" parameterType="java.util.List">
    <!--@mbg.generated 2019-04-28 15:23:11-->
    INSERT INTO purchase (
      vendor_id, store_id, create_time, delivery_time, purchase_title, status, draft_time, 
      amount_total, real_amount_total, creater, update_time, finance_status, finance_remark, 
      finance_time, finance_operator, plan_id, update_user, is_timeout, type_ids, settlement_amount_total, 
      communicate_time, temperature, car_environment, quality_control_status, additional_total, 
      is_arrival, quality_time, receive_operator, plan_delivery_time, is_replenishment, 
      is_weigh_completed, is_prepay, adjustment_amount, final_settlement_amount, finish_time, 
      products, import_log, images, supplier_sign, additional, adjustment_amount_detail
    ) VALUES 
    <foreach collection="list" index="index" item="item" separator=",">
      (
        #{item.vendorId,jdbcType=INTEGER}, #{item.storeId,jdbcType=INTEGER}, #{item.createTime,jdbcType=TIMESTAMP}, 
        #{item.deliveryTime,jdbcType=TIMESTAMP}, #{item.purchaseTitle,jdbcType=VARCHAR}, 
        #{item.status,jdbcType=TINYINT}, #{item.draftTime,jdbcType=TIMESTAMP}, #{item.amountTotal,jdbcType=DECIMAL}, 
        #{item.realAmountTotal,jdbcType=DECIMAL}, #{item.creater,jdbcType=VARCHAR}, #{item.updateTime,jdbcType=TIMESTAMP}, 
        #{item.financeStatus,jdbcType=TINYINT}, #{item.financeRemark,jdbcType=VARCHAR}, 
        #{item.financeTime,jdbcType=TIMESTAMP}, #{item.financeOperator,jdbcType=VARCHAR}, 
        #{item.planId,jdbcType=INTEGER}, #{item.updateUser,jdbcType=VARCHAR}, #{item.isTimeout,jdbcType=TINYINT}, 
        #{item.typeIds,jdbcType=VARCHAR}, #{item.settlementAmountTotal,jdbcType=DECIMAL}, 
        #{item.communicateTime,jdbcType=TINYINT}, #{item.temperature,jdbcType=VARCHAR}, 
        #{item.carEnvironment,jdbcType=TINYINT}, #{item.qualityControlStatus,jdbcType=TINYINT}, 
        #{item.additionalTotal,jdbcType=DECIMAL}, #{item.isArrival,jdbcType=TINYINT}, #{item.qualityTime,jdbcType=TIMESTAMP}, 
        #{item.receiveOperator,jdbcType=VARCHAR}, #{item.planDeliveryTime,jdbcType=TIMESTAMP}, 
        #{item.isReplenishment,jdbcType=TINYINT}, #{item.isWeighCompleted,jdbcType=TINYINT}, 
        #{item.isPrepay,jdbcType=TINYINT}, #{item.adjustmentAmount,jdbcType=DECIMAL}, #{item.finalSettlementAmount,jdbcType=DECIMAL}, 
        #{item.finishTime,jdbcType=TIMESTAMP}, #{item.products,jdbcType=LONGVARCHAR}, #{item.importLog,jdbcType=LONGVARCHAR}, 
        #{item.images,jdbcType=LONGVARCHAR}, #{item.supplierSign,jdbcType=LONGVARCHAR}, 
        #{item.additional,jdbcType=LONGVARCHAR}, #{item.adjustmentAmountDetail,jdbcType=LONGVARCHAR}
      )
    </foreach>
  </insert>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-28 15:23:11-->
    SELECT <include refid="Base_Column_List" /> FROM purchase WHERE purchase_id = #{purchaseId,jdbcType=INTEGER}
  </select>
  <select id="selectOne" parameterType="com.ddmc.reconciliation.scm.model.Purchase" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-28 15:23:11-->
    SELECT <include refid="Base_Column_List" /> FROM purchase
    <where>
      <if test="vendorId != null">
        AND vendor_id = #{vendorId,jdbcType=INTEGER}
      </if>
      <if test="storeId != null">
        AND store_id = #{storeId,jdbcType=INTEGER}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="deliveryTime != null">
        AND delivery_time = #{deliveryTime,jdbcType=TIMESTAMP}
      </if>
      <if test="purchaseTitle != null">
        AND purchase_title = #{purchaseTitle,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        AND status = #{status,jdbcType=TINYINT}
      </if>
      <if test="draftTime != null">
        AND draft_time = #{draftTime,jdbcType=TIMESTAMP}
      </if>
      <if test="amountTotal != null">
        AND amount_total = #{amountTotal,jdbcType=DECIMAL}
      </if>
      <if test="realAmountTotal != null">
        AND real_amount_total = #{realAmountTotal,jdbcType=DECIMAL}
      </if>
      <if test="creater != null">
        AND creater = #{creater,jdbcType=VARCHAR}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="financeStatus != null">
        AND finance_status = #{financeStatus,jdbcType=TINYINT}
      </if>
      <if test="financeRemark != null">
        AND finance_remark = #{financeRemark,jdbcType=VARCHAR}
      </if>
      <if test="financeTime != null">
        AND finance_time = #{financeTime,jdbcType=TIMESTAMP}
      </if>
      <if test="financeOperator != null">
        AND finance_operator = #{financeOperator,jdbcType=VARCHAR}
      </if>
      <if test="planId != null">
        AND plan_id = #{planId,jdbcType=INTEGER}
      </if>
      <if test="updateUser != null">
        AND update_user = #{updateUser,jdbcType=VARCHAR}
      </if>
      <if test="isTimeout != null">
        AND is_timeout = #{isTimeout,jdbcType=TINYINT}
      </if>
      <if test="typeIds != null">
        AND type_ids = #{typeIds,jdbcType=VARCHAR}
      </if>
      <if test="settlementAmountTotal != null">
        AND settlement_amount_total = #{settlementAmountTotal,jdbcType=DECIMAL}
      </if>
      <if test="communicateTime != null">
        AND communicate_time = #{communicateTime,jdbcType=TINYINT}
      </if>
      <if test="temperature != null">
        AND temperature = #{temperature,jdbcType=VARCHAR}
      </if>
      <if test="carEnvironment != null">
        AND car_environment = #{carEnvironment,jdbcType=TINYINT}
      </if>
      <if test="qualityControlStatus != null">
        AND quality_control_status = #{qualityControlStatus,jdbcType=TINYINT}
      </if>
      <if test="additionalTotal != null">
        AND additional_total = #{additionalTotal,jdbcType=DECIMAL}
      </if>
      <if test="isArrival != null">
        AND is_arrival = #{isArrival,jdbcType=TINYINT}
      </if>
      <if test="qualityTime != null">
        AND quality_time = #{qualityTime,jdbcType=TIMESTAMP}
      </if>
      <if test="receiveOperator != null">
        AND receive_operator = #{receiveOperator,jdbcType=VARCHAR}
      </if>
      <if test="planDeliveryTime != null">
        AND plan_delivery_time = #{planDeliveryTime,jdbcType=TIMESTAMP}
      </if>
      <if test="isReplenishment != null">
        AND is_replenishment = #{isReplenishment,jdbcType=TINYINT}
      </if>
      <if test="isWeighCompleted != null">
        AND is_weigh_completed = #{isWeighCompleted,jdbcType=TINYINT}
      </if>
      <if test="isPrepay != null">
        AND is_prepay = #{isPrepay,jdbcType=TINYINT}
      </if>
      <if test="adjustmentAmount != null">
        AND adjustment_amount = #{adjustmentAmount,jdbcType=DECIMAL}
      </if>
      <if test="finalSettlementAmount != null">
        AND final_settlement_amount = #{finalSettlementAmount,jdbcType=DECIMAL}
      </if>
      <if test="finishTime != null">
        AND finish_time = #{finishTime,jdbcType=TIMESTAMP}
      </if>
      <if test="products != null">
        AND products = #{products,jdbcType=LONGVARCHAR}
      </if>
      <if test="importLog != null">
        AND import_log = #{importLog,jdbcType=LONGVARCHAR}
      </if>
      <if test="images != null">
        AND images = #{images,jdbcType=LONGVARCHAR}
      </if>
      <if test="supplierSign != null">
        AND supplier_sign = #{supplierSign,jdbcType=LONGVARCHAR}
      </if>
      <if test="additional != null">
        AND additional = #{additional,jdbcType=LONGVARCHAR}
      </if>
      <if test="adjustmentAmountDetail != null">
        AND adjustment_amount_detail = #{adjustmentAmountDetail,jdbcType=LONGVARCHAR}
      </if>
      LIMIT 1
    </where>
  </select>
  <select id="selectList" parameterType="com.ddmc.reconciliation.scm.model.Purchase" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-28 15:23:11-->
    SELECT <include refid="Base_Column_List" /> FROM purchase
    <where>
      <if test="vendorId != null">
        AND vendor_id = #{vendorId,jdbcType=INTEGER}
      </if>
      <if test="storeId != null">
        AND store_id = #{storeId,jdbcType=INTEGER}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="deliveryTime != null">
        AND delivery_time = #{deliveryTime,jdbcType=TIMESTAMP}
      </if>
      <if test="purchaseTitle != null">
        AND purchase_title = #{purchaseTitle,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        AND status = #{status,jdbcType=TINYINT}
      </if>
      <if test="draftTime != null">
        AND draft_time = #{draftTime,jdbcType=TIMESTAMP}
      </if>
      <if test="amountTotal != null">
        AND amount_total = #{amountTotal,jdbcType=DECIMAL}
      </if>
      <if test="realAmountTotal != null">
        AND real_amount_total = #{realAmountTotal,jdbcType=DECIMAL}
      </if>
      <if test="creater != null">
        AND creater = #{creater,jdbcType=VARCHAR}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="financeStatus != null">
        AND finance_status = #{financeStatus,jdbcType=TINYINT}
      </if>
      <if test="financeRemark != null">
        AND finance_remark = #{financeRemark,jdbcType=VARCHAR}
      </if>
      <if test="financeTime != null">
        AND finance_time = #{financeTime,jdbcType=TIMESTAMP}
      </if>
      <if test="financeOperator != null">
        AND finance_operator = #{financeOperator,jdbcType=VARCHAR}
      </if>
      <if test="planId != null">
        AND plan_id = #{planId,jdbcType=INTEGER}
      </if>
      <if test="updateUser != null">
        AND update_user = #{updateUser,jdbcType=VARCHAR}
      </if>
      <if test="isTimeout != null">
        AND is_timeout = #{isTimeout,jdbcType=TINYINT}
      </if>
      <if test="typeIds != null">
        AND type_ids = #{typeIds,jdbcType=VARCHAR}
      </if>
      <if test="settlementAmountTotal != null">
        AND settlement_amount_total = #{settlementAmountTotal,jdbcType=DECIMAL}
      </if>
      <if test="communicateTime != null">
        AND communicate_time = #{communicateTime,jdbcType=TINYINT}
      </if>
      <if test="temperature != null">
        AND temperature = #{temperature,jdbcType=VARCHAR}
      </if>
      <if test="carEnvironment != null">
        AND car_environment = #{carEnvironment,jdbcType=TINYINT}
      </if>
      <if test="qualityControlStatus != null">
        AND quality_control_status = #{qualityControlStatus,jdbcType=TINYINT}
      </if>
      <if test="additionalTotal != null">
        AND additional_total = #{additionalTotal,jdbcType=DECIMAL}
      </if>
      <if test="isArrival != null">
        AND is_arrival = #{isArrival,jdbcType=TINYINT}
      </if>
      <if test="qualityTime != null">
        AND quality_time = #{qualityTime,jdbcType=TIMESTAMP}
      </if>
      <if test="receiveOperator != null">
        AND receive_operator = #{receiveOperator,jdbcType=VARCHAR}
      </if>
      <if test="planDeliveryTime != null">
        AND plan_delivery_time = #{planDeliveryTime,jdbcType=TIMESTAMP}
      </if>
      <if test="isReplenishment != null">
        AND is_replenishment = #{isReplenishment,jdbcType=TINYINT}
      </if>
      <if test="isWeighCompleted != null">
        AND is_weigh_completed = #{isWeighCompleted,jdbcType=TINYINT}
      </if>
      <if test="isPrepay != null">
        AND is_prepay = #{isPrepay,jdbcType=TINYINT}
      </if>
      <if test="adjustmentAmount != null">
        AND adjustment_amount = #{adjustmentAmount,jdbcType=DECIMAL}
      </if>
      <if test="finalSettlementAmount != null">
        AND final_settlement_amount = #{finalSettlementAmount,jdbcType=DECIMAL}
      </if>
      <if test="finishTime != null">
        AND finish_time = #{finishTime,jdbcType=TIMESTAMP}
      </if>
      <if test="products != null">
        AND products = #{products,jdbcType=LONGVARCHAR}
      </if>
      <if test="importLog != null">
        AND import_log = #{importLog,jdbcType=LONGVARCHAR}
      </if>
      <if test="images != null">
        AND images = #{images,jdbcType=LONGVARCHAR}
      </if>
      <if test="supplierSign != null">
        AND supplier_sign = #{supplierSign,jdbcType=LONGVARCHAR}
      </if>
      <if test="additional != null">
        AND additional = #{additional,jdbcType=LONGVARCHAR}
      </if>
      <if test="adjustmentAmountDetail != null">
        AND adjustment_amount_detail = #{adjustmentAmountDetail,jdbcType=LONGVARCHAR}
      </if>
    </where>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-28 15:23:11-->
    SELECT <include refid="Base_Column_List" /> FROM purchase
  </select>
  <select id="count" parameterType="com.ddmc.reconciliation.scm.model.Purchase" resultType="java.lang.Long">
    <!--@mbg.generated 2019-04-28 15:23:11-->
    SELECT count(1) FROM purchase
    <where>
      <if test="purchaseId != null">
        AND purchase_id=#{purchaseId,jdbcType=INTEGER}
      </if>
      <if test="vendorId != null">
        AND vendor_id=#{vendorId,jdbcType=INTEGER}
      </if>
      <if test="storeId != null">
        AND store_id=#{storeId,jdbcType=INTEGER}
      </if>
      <if test="createTime != null">
        AND create_time=#{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="deliveryTime != null">
        AND delivery_time=#{deliveryTime,jdbcType=TIMESTAMP}
      </if>
      <if test="purchaseTitle != null">
        AND purchase_title=#{purchaseTitle,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        AND status=#{status,jdbcType=TINYINT}
      </if>
      <if test="draftTime != null">
        AND draft_time=#{draftTime,jdbcType=TIMESTAMP}
      </if>
      <if test="amountTotal != null">
        AND amount_total=#{amountTotal,jdbcType=DECIMAL}
      </if>
      <if test="realAmountTotal != null">
        AND real_amount_total=#{realAmountTotal,jdbcType=DECIMAL}
      </if>
      <if test="creater != null">
        AND creater=#{creater,jdbcType=VARCHAR}
      </if>
      <if test="updateTime != null">
        AND update_time=#{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="financeStatus != null">
        AND finance_status=#{financeStatus,jdbcType=TINYINT}
      </if>
      <if test="financeRemark != null">
        AND finance_remark=#{financeRemark,jdbcType=VARCHAR}
      </if>
      <if test="financeTime != null">
        AND finance_time=#{financeTime,jdbcType=TIMESTAMP}
      </if>
      <if test="financeOperator != null">
        AND finance_operator=#{financeOperator,jdbcType=VARCHAR}
      </if>
      <if test="planId != null">
        AND plan_id=#{planId,jdbcType=INTEGER}
      </if>
      <if test="updateUser != null">
        AND update_user=#{updateUser,jdbcType=VARCHAR}
      </if>
      <if test="isTimeout != null">
        AND is_timeout=#{isTimeout,jdbcType=TINYINT}
      </if>
      <if test="typeIds != null">
        AND type_ids=#{typeIds,jdbcType=VARCHAR}
      </if>
      <if test="settlementAmountTotal != null">
        AND settlement_amount_total=#{settlementAmountTotal,jdbcType=DECIMAL}
      </if>
      <if test="communicateTime != null">
        AND communicate_time=#{communicateTime,jdbcType=TINYINT}
      </if>
      <if test="temperature != null">
        AND temperature=#{temperature,jdbcType=VARCHAR}
      </if>
      <if test="carEnvironment != null">
        AND car_environment=#{carEnvironment,jdbcType=TINYINT}
      </if>
      <if test="qualityControlStatus != null">
        AND quality_control_status=#{qualityControlStatus,jdbcType=TINYINT}
      </if>
      <if test="additionalTotal != null">
        AND additional_total=#{additionalTotal,jdbcType=DECIMAL}
      </if>
      <if test="isArrival != null">
        AND is_arrival=#{isArrival,jdbcType=TINYINT}
      </if>
      <if test="qualityTime != null">
        AND quality_time=#{qualityTime,jdbcType=TIMESTAMP}
      </if>
      <if test="receiveOperator != null">
        AND receive_operator=#{receiveOperator,jdbcType=VARCHAR}
      </if>
      <if test="planDeliveryTime != null">
        AND plan_delivery_time=#{planDeliveryTime,jdbcType=TIMESTAMP}
      </if>
      <if test="isReplenishment != null">
        AND is_replenishment=#{isReplenishment,jdbcType=TINYINT}
      </if>
      <if test="isWeighCompleted != null">
        AND is_weigh_completed=#{isWeighCompleted,jdbcType=TINYINT}
      </if>
      <if test="isPrepay != null">
        AND is_prepay=#{isPrepay,jdbcType=TINYINT}
      </if>
      <if test="adjustmentAmount != null">
        AND adjustment_amount=#{adjustmentAmount,jdbcType=DECIMAL}
      </if>
      <if test="finalSettlementAmount != null">
        AND final_settlement_amount=#{finalSettlementAmount,jdbcType=DECIMAL}
      </if>
      <if test="finishTime != null">
        AND finish_time=#{finishTime,jdbcType=TIMESTAMP}
      </if>
      <if test="products != null">
        AND products=#{products,jdbcType=LONGVARCHAR}
      </if>
      <if test="importLog != null">
        AND import_log=#{importLog,jdbcType=LONGVARCHAR}
      </if>
      <if test="images != null">
        AND images=#{images,jdbcType=LONGVARCHAR}
      </if>
      <if test="supplierSign != null">
        AND supplier_sign=#{supplierSign,jdbcType=LONGVARCHAR}
      </if>
      <if test="additional != null">
        AND additional=#{additional,jdbcType=LONGVARCHAR}
      </if>
      <if test="adjustmentAmountDetail != null">
        AND adjustment_amount_detail=#{adjustmentAmountDetail,jdbcType=LONGVARCHAR}
      </if>
    </where>
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer">
    <!--@mbg.generated 2019-04-28 15:23:11-->
    DELETE FROM purchase WHERE purchase_id = #{purchaseId,jdbcType=INTEGER}
  </delete>
  <update id="update" parameterType="com.ddmc.reconciliation.scm.model.Purchase">
    <!--@mbg.generated 2019-04-28 15:23:11-->
    UPDATE purchase
    <set>
      <if test="vendorId != null">
        vendor_id = #{vendorId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryTime != null">
        delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="purchaseTitle != null">
        purchase_title = #{purchaseTitle,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="draftTime != null">
        draft_time = #{draftTime,jdbcType=TIMESTAMP},
      </if>
      <if test="amountTotal != null">
        amount_total = #{amountTotal,jdbcType=DECIMAL},
      </if>
      <if test="realAmountTotal != null">
        real_amount_total = #{realAmountTotal,jdbcType=DECIMAL},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="financeStatus != null">
        finance_status = #{financeStatus,jdbcType=TINYINT},
      </if>
      <if test="financeRemark != null">
        finance_remark = #{financeRemark,jdbcType=VARCHAR},
      </if>
      <if test="financeTime != null">
        finance_time = #{financeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="financeOperator != null">
        finance_operator = #{financeOperator,jdbcType=VARCHAR},
      </if>
      <if test="planId != null">
        plan_id = #{planId,jdbcType=INTEGER},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="isTimeout != null">
        is_timeout = #{isTimeout,jdbcType=TINYINT},
      </if>
      <if test="typeIds != null">
        type_ids = #{typeIds,jdbcType=VARCHAR},
      </if>
      <if test="settlementAmountTotal != null">
        settlement_amount_total = #{settlementAmountTotal,jdbcType=DECIMAL},
      </if>
      <if test="communicateTime != null">
        communicate_time = #{communicateTime,jdbcType=TINYINT},
      </if>
      <if test="temperature != null">
        temperature = #{temperature,jdbcType=VARCHAR},
      </if>
      <if test="carEnvironment != null">
        car_environment = #{carEnvironment,jdbcType=TINYINT},
      </if>
      <if test="qualityControlStatus != null">
        quality_control_status = #{qualityControlStatus,jdbcType=TINYINT},
      </if>
      <if test="additionalTotal != null">
        additional_total = #{additionalTotal,jdbcType=DECIMAL},
      </if>
      <if test="isArrival != null">
        is_arrival = #{isArrival,jdbcType=TINYINT},
      </if>
      <if test="qualityTime != null">
        quality_time = #{qualityTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiveOperator != null">
        receive_operator = #{receiveOperator,jdbcType=VARCHAR},
      </if>
      <if test="planDeliveryTime != null">
        plan_delivery_time = #{planDeliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isReplenishment != null">
        is_replenishment = #{isReplenishment,jdbcType=TINYINT},
      </if>
      <if test="isWeighCompleted != null">
        is_weigh_completed = #{isWeighCompleted,jdbcType=TINYINT},
      </if>
      <if test="isPrepay != null">
        is_prepay = #{isPrepay,jdbcType=TINYINT},
      </if>
      <if test="adjustmentAmount != null">
        adjustment_amount = #{adjustmentAmount,jdbcType=DECIMAL},
      </if>
      <if test="finalSettlementAmount != null">
        final_settlement_amount = #{finalSettlementAmount,jdbcType=DECIMAL},
      </if>
      <if test="finishTime != null">
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="products != null">
        products = #{products,jdbcType=LONGVARCHAR},
      </if>
      <if test="importLog != null">
        import_log = #{importLog,jdbcType=LONGVARCHAR},
      </if>
      <if test="images != null">
        images = #{images,jdbcType=LONGVARCHAR},
      </if>
      <if test="supplierSign != null">
        supplier_sign = #{supplierSign,jdbcType=LONGVARCHAR},
      </if>
      <if test="additional != null">
        additional = #{additional,jdbcType=LONGVARCHAR},
      </if>
      <if test="adjustmentAmountDetail != null">
        adjustment_amount_detail = #{adjustmentAmountDetail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    WHERE purchase_id = #{purchaseId,jdbcType=INTEGER}
  </update>
</mapper>