<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddmc.reconciliation.dao.scm.ReturnPurchaseDao">
  <resultMap id="BaseResultMap" type="com.ddmc.reconciliation.model.scm.ReturnPurchase">
    <!--@mbg.generated 2019-04-28 15:16:04-->
    <id column="return_id" jdbcType="INTEGER" property="returnId" />
    <result column="purchase_id" jdbcType="INTEGER" property="purchaseId" />
    <result column="vendor_id" jdbcType="INTEGER" property="vendorId" />
    <result column="store_id" jdbcType="INTEGER" property="storeId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime" />
    <result column="type_ids" jdbcType="VARCHAR" property="typeIds" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="draft_time" jdbcType="TIMESTAMP" property="draftTime" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="amount_total" jdbcType="DECIMAL" property="amountTotal" />
    <result column="real_amount_total" jdbcType="DECIMAL" property="realAmountTotal" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="finance_status" jdbcType="TINYINT" property="financeStatus" />
    <result column="finance_remark" jdbcType="VARCHAR" property="financeRemark" />
    <result column="finance_time" jdbcType="TIMESTAMP" property="financeTime" />
    <result column="finance_operator" jdbcType="VARCHAR" property="financeOperator" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="is_timeout" jdbcType="TINYINT" property="isTimeout" />
    <result column="products" jdbcType="LONGVARCHAR" property="products" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated 2019-04-28 15:16:04-->
    return_id, purchase_id, vendor_id, store_id, create_time, delivery_time, type_ids, 
    status, draft_time, creater, amount_total, real_amount_total, update_time, finance_status, 
    finance_remark, finance_time, finance_operator, update_user, is_timeout, products
  </sql>
  <insert id="insert" keyColumn="return_id" keyProperty="returnId" parameterType="com.ddmc.reconciliation.model.scm.ReturnPurchase" useGeneratedKeys="true">
    <!--@mbg.generated 2019-04-28 15:16:04-->
    INSERT INTO return_purchase (
      purchase_id, vendor_id, store_id, create_time, delivery_time, type_ids, status, 
      draft_time, creater, amount_total, real_amount_total, update_time, finance_status, 
      finance_remark, finance_time, finance_operator, update_user, is_timeout, products
    ) VALUES (  
      #{purchaseId,jdbcType=INTEGER}, #{vendorId,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{deliveryTime,jdbcType=TIMESTAMP}, #{typeIds,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{draftTime,jdbcType=TIMESTAMP}, #{creater,jdbcType=VARCHAR}, 
      #{amountTotal,jdbcType=DECIMAL}, #{realAmountTotal,jdbcType=DECIMAL}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{financeStatus,jdbcType=TINYINT}, #{financeRemark,jdbcType=VARCHAR}, #{financeTime,jdbcType=TIMESTAMP}, 
      #{financeOperator,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}, #{isTimeout,jdbcType=TINYINT}, 
      #{products,jdbcType=LONGVARCHAR}
    )
  </insert>
  <insert id="insertList" parameterType="java.util.List">
    <!--@mbg.generated 2019-04-28 15:16:04-->
    INSERT INTO return_purchase (
      purchase_id, vendor_id, store_id, create_time, delivery_time, type_ids, status, 
      draft_time, creater, amount_total, real_amount_total, update_time, finance_status, 
      finance_remark, finance_time, finance_operator, update_user, is_timeout, products
    ) VALUES 
    <foreach collection="list" index="index" item="item" separator=",">
      (
        #{item.purchaseId,jdbcType=INTEGER}, #{item.vendorId,jdbcType=INTEGER}, #{item.storeId,jdbcType=INTEGER}, 
        #{item.createTime,jdbcType=TIMESTAMP}, #{item.deliveryTime,jdbcType=TIMESTAMP}, 
        #{item.typeIds,jdbcType=VARCHAR}, #{item.status,jdbcType=TINYINT}, #{item.draftTime,jdbcType=TIMESTAMP}, 
        #{item.creater,jdbcType=VARCHAR}, #{item.amountTotal,jdbcType=DECIMAL}, #{item.realAmountTotal,jdbcType=DECIMAL}, 
        #{item.updateTime,jdbcType=TIMESTAMP}, #{item.financeStatus,jdbcType=TINYINT}, 
        #{item.financeRemark,jdbcType=VARCHAR}, #{item.financeTime,jdbcType=TIMESTAMP}, 
        #{item.financeOperator,jdbcType=VARCHAR}, #{item.updateUser,jdbcType=VARCHAR}, 
        #{item.isTimeout,jdbcType=TINYINT}, #{item.products,jdbcType=LONGVARCHAR}
      )
    </foreach>
  </insert>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-28 15:16:04-->
    SELECT <include refid="Base_Column_List"/> FROM return_purchase WHERE return_id = #{returnId,jdbcType=INTEGER}
  </select>
  <select id="selectOne" parameterType="com.ddmc.reconciliation.model.scm.ReturnPurchase" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-28 15:16:04-->
    SELECT <include refid="Base_Column_List"/> FROM return_purchase
    <where>
      <if test="purchaseId != null">
        AND purchase_id = #{purchaseId,jdbcType=INTEGER}
      </if>
      <if test="vendorId != null">
        AND vendor_id = #{vendorId,jdbcType=INTEGER}
      </if>
      <if test="storeId != null">
        AND store_id = #{storeId,jdbcType=INTEGER}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="deliveryTime != null">
        AND delivery_time = #{deliveryTime,jdbcType=TIMESTAMP}
      </if>
      <if test="typeIds != null">
        AND type_ids = #{typeIds,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        AND status = #{status,jdbcType=TINYINT}
      </if>
      <if test="draftTime != null">
        AND draft_time = #{draftTime,jdbcType=TIMESTAMP}
      </if>
      <if test="creater != null">
        AND creater = #{creater,jdbcType=VARCHAR}
      </if>
      <if test="amountTotal != null">
        AND amount_total = #{amountTotal,jdbcType=DECIMAL}
      </if>
      <if test="realAmountTotal != null">
        AND real_amount_total = #{realAmountTotal,jdbcType=DECIMAL}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="financeStatus != null">
        AND finance_status = #{financeStatus,jdbcType=TINYINT}
      </if>
      <if test="financeRemark != null">
        AND finance_remark = #{financeRemark,jdbcType=VARCHAR}
      </if>
      <if test="financeTime != null">
        AND finance_time = #{financeTime,jdbcType=TIMESTAMP}
      </if>
      <if test="financeOperator != null">
        AND finance_operator = #{financeOperator,jdbcType=VARCHAR}
      </if>
      <if test="updateUser != null">
        AND update_user = #{updateUser,jdbcType=VARCHAR}
      </if>
      <if test="isTimeout != null">
        AND is_timeout = #{isTimeout,jdbcType=TINYINT}
      </if>
      <if test="products != null">
        AND products = #{products,jdbcType=LONGVARCHAR}
      </if>
      LIMIT 1
    </where>
  </select>
  <select id="selectList" parameterType="com.ddmc.reconciliation.model.scm.ReturnPurchase" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-28 15:16:04-->
    SELECT <include refid="Base_Column_List"/> FROM return_purchase
    <where>
      <if test="purchaseId != null">
        AND purchase_id = #{purchaseId,jdbcType=INTEGER}
      </if>
      <if test="vendorId != null">
        AND vendor_id = #{vendorId,jdbcType=INTEGER}
      </if>
      <if test="storeId != null">
        AND store_id = #{storeId,jdbcType=INTEGER}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="deliveryTime != null">
        AND delivery_time = #{deliveryTime,jdbcType=TIMESTAMP}
      </if>
      <if test="typeIds != null">
        AND type_ids = #{typeIds,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        AND status = #{status,jdbcType=TINYINT}
      </if>
      <if test="draftTime != null">
        AND draft_time = #{draftTime,jdbcType=TIMESTAMP}
      </if>
      <if test="creater != null">
        AND creater = #{creater,jdbcType=VARCHAR}
      </if>
      <if test="amountTotal != null">
        AND amount_total = #{amountTotal,jdbcType=DECIMAL}
      </if>
      <if test="realAmountTotal != null">
        AND real_amount_total = #{realAmountTotal,jdbcType=DECIMAL}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="financeStatus != null">
        AND finance_status = #{financeStatus,jdbcType=TINYINT}
      </if>
      <if test="financeRemark != null">
        AND finance_remark = #{financeRemark,jdbcType=VARCHAR}
      </if>
      <if test="financeTime != null">
        AND finance_time = #{financeTime,jdbcType=TIMESTAMP}
      </if>
      <if test="financeOperator != null">
        AND finance_operator = #{financeOperator,jdbcType=VARCHAR}
      </if>
      <if test="updateUser != null">
        AND update_user = #{updateUser,jdbcType=VARCHAR}
      </if>
      <if test="isTimeout != null">
        AND is_timeout = #{isTimeout,jdbcType=TINYINT}
      </if>
      <if test="products != null">
        AND products = #{products,jdbcType=LONGVARCHAR}
      </if>
    </where>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-28 15:16:04-->
    SELECT <include refid="Base_Column_List"/> FROM return_purchase
  </select>
  <select id="count" parameterType="com.ddmc.reconciliation.model.scm.ReturnPurchase" resultType="java.lang.Long">
    <!--@mbg.generated 2019-04-28 15:16:04-->
    SELECT count(1) FROM return_purchase
    <where>
      <if test="returnId != null">
        AND return_id=#{returnId,jdbcType=INTEGER}
      </if>
      <if test="purchaseId != null">
        AND purchase_id=#{purchaseId,jdbcType=INTEGER}
      </if>
      <if test="vendorId != null">
        AND vendor_id=#{vendorId,jdbcType=INTEGER}
      </if>
      <if test="storeId != null">
        AND store_id=#{storeId,jdbcType=INTEGER}
      </if>
      <if test="createTime != null">
        AND create_time=#{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="deliveryTime != null">
        AND delivery_time=#{deliveryTime,jdbcType=TIMESTAMP}
      </if>
      <if test="typeIds != null">
        AND type_ids=#{typeIds,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        AND status=#{status,jdbcType=TINYINT}
      </if>
      <if test="draftTime != null">
        AND draft_time=#{draftTime,jdbcType=TIMESTAMP}
      </if>
      <if test="creater != null">
        AND creater=#{creater,jdbcType=VARCHAR}
      </if>
      <if test="amountTotal != null">
        AND amount_total=#{amountTotal,jdbcType=DECIMAL}
      </if>
      <if test="realAmountTotal != null">
        AND real_amount_total=#{realAmountTotal,jdbcType=DECIMAL}
      </if>
      <if test="updateTime != null">
        AND update_time=#{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="financeStatus != null">
        AND finance_status=#{financeStatus,jdbcType=TINYINT}
      </if>
      <if test="financeRemark != null">
        AND finance_remark=#{financeRemark,jdbcType=VARCHAR}
      </if>
      <if test="financeTime != null">
        AND finance_time=#{financeTime,jdbcType=TIMESTAMP}
      </if>
      <if test="financeOperator != null">
        AND finance_operator=#{financeOperator,jdbcType=VARCHAR}
      </if>
      <if test="updateUser != null">
        AND update_user=#{updateUser,jdbcType=VARCHAR}
      </if>
      <if test="isTimeout != null">
        AND is_timeout=#{isTimeout,jdbcType=TINYINT}
      </if>
      <if test="products != null">
        AND products=#{products,jdbcType=LONGVARCHAR}
      </if>
    </where>
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer">
    <!--@mbg.generated 2019-04-28 15:16:04-->
    DELETE FROM return_purchase WHERE return_id = #{returnId,jdbcType=INTEGER}
  </delete>
  <update id="update" parameterType="com.ddmc.reconciliation.model.scm.ReturnPurchase">
    <!--@mbg.generated 2019-04-28 15:16:04-->
    UPDATE return_purchase
    <set>
      <if test="purchaseId != null">
        purchase_id = #{purchaseId,jdbcType=INTEGER},
      </if>
      <if test="vendorId != null">
        vendor_id = #{vendorId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryTime != null">
        delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="typeIds != null">
        type_ids = #{typeIds,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="draftTime != null">
        draft_time = #{draftTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="amountTotal != null">
        amount_total = #{amountTotal,jdbcType=DECIMAL},
      </if>
      <if test="realAmountTotal != null">
        real_amount_total = #{realAmountTotal,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="financeStatus != null">
        finance_status = #{financeStatus,jdbcType=TINYINT},
      </if>
      <if test="financeRemark != null">
        finance_remark = #{financeRemark,jdbcType=VARCHAR},
      </if>
      <if test="financeTime != null">
        finance_time = #{financeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="financeOperator != null">
        finance_operator = #{financeOperator,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="isTimeout != null">
        is_timeout = #{isTimeout,jdbcType=TINYINT},
      </if>
      <if test="products != null">
        products = #{products,jdbcType=LONGVARCHAR},
      </if>
    </set>
    WHERE return_id = #{returnId,jdbcType=INTEGER}
  </update>
</mapper>