<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddmc.kanban.dao.GeneralPackageDao">
  <resultMap id="BaseResultMap" type="com.ddmc.kanban.model.GeneralPackage">
    <!--@mbg.generated 2019-03-29 15:06:07-->
    <id column="pack_id" jdbcType="INTEGER" property="packId" />
    <result column="store_id" jdbcType="INTEGER" property="storeId" />
    <result column="pack_title" jdbcType="VARCHAR" property="packTitle" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="batch_id" jdbcType="VARCHAR" property="batchId" />
    <result column="is_material" jdbcType="TINYINT" property="isMaterial" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated 2019-03-29 15:06:07-->
    pack_id, store_id, pack_title, update_user, create_time, delivery_time, update_time, 
    status, type, batch_id, is_material
  </sql>
  <insert id="insert" parameterType="com.ddmc.kanban.model.GeneralPackage">
    <!--@mbg.generated 2019-03-29 15:06:07-->
    INSERT INTO general_package (
      store_id, pack_title, update_user, create_time, delivery_time, update_time, status, 
      type, batch_id, is_material, products
    ) VALUES (  
      #{storeId,jdbcType=INTEGER}, #{packTitle,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{deliveryTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=TINYINT}, #{type,jdbcType=TINYINT}, #{batchId,jdbcType=VARCHAR}, 
      #{isMaterial,jdbcType=TINYINT}, #{products,jdbcType=LONGVARCHAR}
    )
  </insert>
  <insert id="insertList" parameterType="java.util.List">
    <!--@mbg.generated 2019-03-29 15:06:07-->
    INSERT INTO general_package (
      store_id, pack_title, update_user, create_time, delivery_time, update_time, status, 
      type, batch_id, is_material, products
    ) VALUES 
    <foreach collection="list" index="index" item="item" separator=",">
      (
        #{item.storeId,jdbcType=INTEGER}, #{item.packTitle,jdbcType=VARCHAR}, #{item.updateUser,jdbcType=VARCHAR}, 
        #{item.createTime,jdbcType=TIMESTAMP}, #{item.deliveryTime,jdbcType=TIMESTAMP}, 
        #{item.updateTime,jdbcType=TIMESTAMP}, #{item.status,jdbcType=TINYINT}, #{item.type,jdbcType=TINYINT}, 
        #{item.batchId,jdbcType=VARCHAR}, #{item.isMaterial,jdbcType=TINYINT}, #{item.products,jdbcType=LONGVARCHAR}
      )
    </foreach>
  </insert>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-03-29 15:06:07-->
    SELECT <include refid="Base_Column_List"/> FROM general_package WHERE pack_id = #{packId,jdbcType=INTEGER}
  </select>
  <select id="selectOne" parameterType="com.ddmc.kanban.model.GeneralPackage" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-03-29 15:06:07-->
    SELECT <include refid="Base_Column_List"/> FROM general_package
    <where>
      <if test="storeId != null">
        AND store_id = #{storeId,jdbcType=INTEGER}
      </if>
      <if test="packTitle != null">
        AND pack_title = #{packTitle,jdbcType=VARCHAR}
      </if>
      <if test="updateUser != null">
        AND update_user = #{updateUser,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="deliveryTime != null">
        AND delivery_time = #{deliveryTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="status != null">
        AND status = #{status,jdbcType=TINYINT}
      </if>
      <if test="type != null">
        AND type = #{type,jdbcType=TINYINT}
      </if>
      <if test="batchId != null">
        AND batch_id = #{batchId,jdbcType=VARCHAR}
      </if>
      <if test="isMaterial != null">
        AND is_material = #{isMaterial,jdbcType=TINYINT}
      </if>
      <if test="products != null">
        AND products = #{products,jdbcType=LONGVARCHAR}
      </if>
      LIMIT 1
    </where>
  </select>
  <select id="selectList" parameterType="com.ddmc.kanban.model.GeneralPackage" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-03-29 15:06:07-->
    SELECT <include refid="Base_Column_List"/> FROM general_package
    <where>
      <if test="storeId != null">
        AND store_id = #{storeId,jdbcType=INTEGER}
      </if>
      <if test="packTitle != null">
        AND pack_title = #{packTitle,jdbcType=VARCHAR}
      </if>
      <if test="updateUser != null">
        AND update_user = #{updateUser,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="deliveryTime != null">
        AND delivery_time = #{deliveryTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="status != null">
        AND status = #{status,jdbcType=TINYINT}
      </if>
      <if test="type != null">
        AND type = #{type,jdbcType=TINYINT}
      </if>
      <if test="batchId != null">
        AND batch_id = #{batchId,jdbcType=VARCHAR}
      </if>
      <if test="isMaterial != null">
        AND is_material = #{isMaterial,jdbcType=TINYINT}
      </if>
      <if test="products != null">
        AND products = #{products,jdbcType=LONGVARCHAR}
      </if>
    </where>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-03-29 15:06:07-->
    SELECT <include refid="Base_Column_List"/> FROM general_package
  </select>
  <select id="count" parameterType="com.ddmc.kanban.model.GeneralPackage" resultType="java.lang.Long">
    <!--@mbg.generated 2019-03-29 15:06:07-->
    SELECT count(1) FROM general_package
    <where>
      <if test="packId != null">
        AND pack_id=#{packId,jdbcType=INTEGER}
      </if>
      <if test="storeId != null">
        AND store_id=#{storeId,jdbcType=INTEGER}
      </if>
      <if test="packTitle != null">
        AND pack_title=#{packTitle,jdbcType=VARCHAR}
      </if>
      <if test="updateUser != null">
        AND update_user=#{updateUser,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        AND create_time=#{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="deliveryTime != null">
        AND delivery_time=#{deliveryTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time=#{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="status != null">
        AND status=#{status,jdbcType=TINYINT}
      </if>
      <if test="type != null">
        AND type=#{type,jdbcType=TINYINT}
      </if>
      <if test="batchId != null">
        AND batch_id=#{batchId,jdbcType=VARCHAR}
      </if>
      <if test="isMaterial != null">
        AND is_material=#{isMaterial,jdbcType=TINYINT}
      </if>
      <if test="products != null">
        AND products=#{products,jdbcType=LONGVARCHAR}
      </if>
    </where>
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer">
    <!--@mbg.generated 2019-03-29 15:06:07-->
    DELETE FROM general_package WHERE pack_id = #{packId,jdbcType=INTEGER}
  </delete>
  <update id="update" parameterType="com.ddmc.kanban.model.GeneralPackage">
    <!--@mbg.generated 2019-03-29 15:06:07-->
    UPDATE general_package
    <set>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="packTitle != null">
        pack_title = #{packTitle,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryTime != null">
        delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="batchId != null">
        batch_id = #{batchId,jdbcType=VARCHAR},
      </if>
      <if test="isMaterial != null">
        is_material = #{isMaterial,jdbcType=TINYINT},
      </if>
      <if test="products != null">
        products = #{products,jdbcType=LONGVARCHAR},
      </if>
    </set>
    WHERE pack_id = #{packId,jdbcType=INTEGER}
  </update>
</mapper>