<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddmc.kanban.dao.StoreProductBatchDao">
  <resultMap id="BaseResultMap" type="com.ddmc.kanban.model.StoreProductBatch">
    <!--@mbg.generated 2019-04-09 14:58:21-->
    <id column="store_id" jdbcType="INTEGER" property="storeId" />
    <id column="product_id" jdbcType="INTEGER" property="productId" />
    <id column="batch_id" jdbcType="VARCHAR" property="batchId" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated 2019-04-09 14:58:21-->
    store_id, product_id, batch_id, amount, create_time, update_time
  </sql>
  <insert id="insert" parameterType="com.ddmc.kanban.model.StoreProductBatch">
    <!--@mbg.generated 2019-04-09 14:58:21-->
    INSERT INTO store_product_batch (
      store_id, product_id, batch_id, amount, create_time, update_time
    ) VALUES (  
      #{storeId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{batchId,jdbcType=VARCHAR}, 
      #{amount,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
    )
  </insert>
  <insert id="insertList" parameterType="java.util.List">
    <!--@mbg.generated 2019-04-09 14:58:21-->
    INSERT INTO store_product_batch (
      store_id, product_id, batch_id, amount, create_time, update_time
    ) VALUES 
    <foreach collection="list" index="index" item="item" separator=",">
      (
        #{item.storeId,jdbcType=INTEGER}, #{item.productId,jdbcType=INTEGER}, #{item.batchId,jdbcType=VARCHAR}, 
        #{item.amount,jdbcType=DECIMAL}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>
  <select id="selectById" parameterType="com.ddmc.kanban.model.StoreProductBatchKey" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-09 14:58:21-->
    SELECT <include refid="Base_Column_List" /> FROM store_product_batch WHERE store_id = #{storeId,jdbcType=INTEGER}
     AND product_id = #{productId,jdbcType=INTEGER}
     AND batch_id = #{batchId,jdbcType=VARCHAR}
  </select>
  <select id="selectOne" parameterType="com.ddmc.kanban.model.StoreProductBatch" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-09 14:58:21-->
    SELECT <include refid="Base_Column_List" /> FROM store_product_batch
    <where>
      <if test="storeId != null">
        AND store_id = #{storeId,jdbcType=INTEGER}
      </if>
      <if test="productId != null">
        AND product_id = #{productId,jdbcType=INTEGER}
      </if>
      <if test="batchId != null">
        AND batch_id = #{batchId,jdbcType=VARCHAR}
      </if>
      <if test="amount != null">
        AND amount = #{amount,jdbcType=DECIMAL}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      LIMIT 1
    </where>
  </select>
  <select id="selectList" parameterType="com.ddmc.kanban.model.StoreProductBatch" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-09 14:58:21-->
    SELECT <include refid="Base_Column_List" /> FROM store_product_batch
    <where>
      <if test="storeId != null">
        AND store_id = #{storeId,jdbcType=INTEGER}
      </if>
      <if test="productId != null">
        AND product_id = #{productId,jdbcType=INTEGER}
      </if>
      <if test="batchId != null">
        AND batch_id = #{batchId,jdbcType=VARCHAR}
      </if>
      <if test="amount != null">
        AND amount = #{amount,jdbcType=DECIMAL}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--@mbg.generated 2019-04-09 14:58:21-->
    SELECT <include refid="Base_Column_List" /> FROM store_product_batch
  </select>
  <select id="count" parameterType="com.ddmc.kanban.model.StoreProductBatch" resultType="java.lang.Long">
    <!--@mbg.generated 2019-04-09 14:58:21-->
    SELECT count(1) FROM store_product_batch
    <where>
      <if test="storeId != null">
        AND store_id=#{storeId,jdbcType=INTEGER}
      </if>
      <if test="productId != null">
        AND product_id=#{productId,jdbcType=INTEGER}
      </if>
      <if test="batchId != null">
        AND batch_id=#{batchId,jdbcType=VARCHAR}
      </if>
      <if test="amount != null">
        AND amount=#{amount,jdbcType=DECIMAL}
      </if>
      <if test="createTime != null">
        AND create_time=#{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time=#{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <delete id="deleteById" parameterType="com.ddmc.kanban.model.StoreProductBatchKey">
    <!--@mbg.generated 2019-04-09 14:58:21-->
    DELETE FROM store_product_batch WHERE store_id = #{storeId,jdbcType=INTEGER}, 
       AND product_id = #{productId,jdbcType=INTEGER}, 
       AND batch_id = #{batchId,jdbcType=VARCHAR}
  </delete>
  <update id="update" parameterType="com.ddmc.kanban.model.StoreProductBatch">
    <!--@mbg.generated 2019-04-09 14:58:21-->
    UPDATE store_product_batch
    <set>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE store_id = #{storeId,jdbcType=INTEGER}, 
       AND product_id = #{productId,jdbcType=INTEGER}, 
       AND batch_id = #{batchId,jdbcType=VARCHAR}
  </update>
</mapper>